.top-card-height {
    min-height: 163px;
}

@media print {
    ul {
       list-style-type: none;

       li {
            margin-left: -40%;
       }
    }

    table {
        width: 100%;
        font-size: 0.8rem;
        
        tbody {
            tr:nth-of-type(odd) {
                background-color: rgba(0,0,0,.5);
            }
        }
    }

    pre {
        background: transparent;
        overflow-wrap: break-word;
        border: 0;
    }
}