<div class="col-md-12">
  <div class="row">
    <div class="col-md-11 col-sm-11 col-xs-11">
      <h1>Reports</h1>
    </div>
    <div class="col-md-12">
      <mat-divider></mat-divider>
    </div>
  </div>

  <!-- OVERVIEW -->
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">
      <label class="lbl_title_s font-weight-bold">Overview</label>
      <mat-divider></mat-divider>
    </div>
    <!-- <div class="col-md-12">&nbsp;</div> -->
    <div class="col-md-3" style="margin-top: 2%">
      <mat-card class="top-card-height animated bounceIn asi-1">
        <!-- class="mat-elevation-z8 overflow-auto" -->
        <mat-card-header>
          <div mat-card-avatar class="rounded-circle align-middle text-center"
            style="background: paleturquoise; font-size: 1.7rem"><i class="fas fa-money-bill-wave"></i></div>
          <mat-card-title>RM {{ userReport?.overallSales }}</mat-card-title>
          <mat-card-subtitle class="darkgrey-font">Since 11-07-2019</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content class="align-bottom" style="padding: 10px; margin-top: 2%">
          <h5 class="text-center font-weight-bold">Total Sales</h5>
        </mat-card-content>
        <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
      </mat-card>
    </div>
    <div class="col-md-3" style="margin-top: 2%">
      <mat-card class="top-card-height animated bounceIn asi-2">
        <!-- class="mat-elevation-z8 overflow-auto" -->
        <mat-card-header>
          <div mat-card-avatar class="rounded-circle align-middle text-center"
            style="background: palegreen; font-size: 1.7rem"><i class="fas fa-handshake"></i></div>
          <mat-card-title>RM {{ userReport?.overallCommission }}</mat-card-title>
          <mat-card-subtitle class="darkgrey-font">Since 11-07-2019</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content class="align-bottom" style="padding: 10px; margin-top: 2%">
          <h5 class="text-center font-weight-bold">Total Commissions</h5>
        </mat-card-content>
        <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
      </mat-card>
    </div>
    <div class="col-md-3" style="margin-top: 2%">
      <mat-card class="top-card-height animated bounceIn asi-3">
        <!-- class="mat-elevation-z8 overflow-auto" -->
        <mat-card-header>
          <div mat-card-avatar class="rounded-circle align-middle text-center"
            style="background: palevioletred; font-size: 1.7rem"><i class="fas fa-money-bill-wave"></i></div>
          <mat-card-title>RM {{ userReport?.currentMonthSales }}</mat-card-title>
          <mat-card-subtitle class="darkgrey-font">{{ currentMonthName }}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content class="align-bottom" style="padding: 10px; margin-top: 2%">
          <h5 class="text-center font-weight-bold">Current Month Sales</h5>
        </mat-card-content>
        <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
      </mat-card>
    </div>
    <div class="col-md-3" style="margin-top: 2%">
      <mat-card class="top-card-height animated bounceIn asi-4">
        <!-- class="mat-elevation-z8 overflow-auto" -->
        <mat-card-header>
          <div mat-card-avatar class="rounded-circle align-middle text-center"
            style="background: palegoldenrod; font-size: 1.7rem"><i class="fas fa-handshake"></i></div>
          <mat-card-title>RM {{ userReport?.currentMonthCommission }}</mat-card-title>
          <mat-card-subtitle class="darkgrey-font">{{ currentMonthName }}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content class="align-bottom" style="padding: 10px; margin-top: 2%">
          <h5 class="text-center font-weight-bold">Current Month Commissions</h5>
        </mat-card-content>
        <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
      </mat-card>
    </div>
  </div>
  <div class="row">&nbsp;</div>

  <!-- BOOKINGS -->
  <div class="row">
    <div class="col-md-12">
      <label class="lbl_title_s font-weight-bold">Bookings</label>
      <mat-divider></mat-divider>
    </div>
    <div class="col-md-12" style="margin-top: 1%">
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width">
            <mat-select placeholder="Select Year" [(ngModel)]="yearVal" (selectionChange)="yearSel($event.value)">
              <mat-option [value]="2019">2019</mat-option>
              <mat-option [value]="2020">2020</mat-option>
              <mat-option [value]="2021">2021</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width">
            <mat-select placeholder="Select Month" [(ngModel)]="monthVal" (selectionChange)="monthSel($event.value)">
              <mat-option *ngFor="let m of monthsData" [value]="m.value">{{ m.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width">
            <mat-select placeholder="Select Booking Status" [(ngModel)]="bookingStatusVal"
              (selectionChange)="bookingStatusSel($event.value)">
              <mat-option value="all">All</mat-option>
              <mat-option [value]="1">Ongoing</mat-option>
              <mat-option [value]="2">Paid Full</mat-option>
              <mat-option [value]="3">Cancelled</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3 text-right" style="margin-top: 1%">
          Total: {{ bookings.total }}
          &nbsp;&nbsp;
          <button mat-raised-button (click)="submitBooking()" class="font-weight-bold text-uppercase">Update
            List</button>
          &nbsp;&nbsp;
          <button mat-raised-button color="accent" (click)="printDiv('booking-list')"
            class="font-weight-bold text-uppercase">Print List</button>
        </div>
      </div>
      <div id="booking-list" class="full-width">
        <table class="table table-sm table-striped table-responsive">
          <thead class="thead-dark full-width">
            <tr>
              <th scope="col" style="width: 5%">#</th>
              <th scope="col" style="width: 20%">Package Name</th>
              <th scope="col" style="width: 10%">Travel Date</th>
              <th scope="col" style="width: 20%">Customer</th>
              <th scope="col" style="width: 15%">Participants</th>
              <th scope="col" style="width: 30%">Remark</th>
            </tr>
          </thead>
          <tbody>
            <!-- <div *ngIf="bookings.list && bookings.total != 0"> -->
            <tr *ngFor="let booking of bookings.list; let i = index">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ booking.package_name }}</td>
              <td>{{ booking.travel_date }}</td>
              <td><strong>Name</strong><br />{{ booking.contact_person }}<br /><strong>Contact
                  No</strong><br />{{ booking.contact_no }}<br /><strong>Email</strong><br />{{ booking.contact_email }}
              </td>
              <td>
                <ul style="list-style-type: none; margin-left: 0">
                  <li style="background: transparent"><strong>Adult</strong><br />{{ booking.paxno_adult }}</li>
                  <li style="background: transparent"><strong>Child with Bed</strong><br />{{ booking.paxno_childbed }}
                  </li>
                  <li style="background: transparent"><strong>Child without
                      Bed</strong><br />{{ booking.paxno_childnobed }}
                  </li>
                  <li style="background: transparent"><strong>Infant</strong><br />{{ booking.paxno_infant }}</li>
                </ul>
              </td>
              <td style="white-space: pre-wrap; overflow-wrap: break-word">
                <pre
                  style="font-family: inherit; background: transparent; border: 0; overflow-wrap: break-word">{{ booking.remark?booking.remark:'-' }}</pre>
              </td>
            </tr>
            <!-- </div> -->
            <!-- <div *ngIf="!bookings.list || bookings.total && bookings.total == 0" class="text-center" style="width: 100%">
            <tr>
              <th scope="row" colspan="6" style="width: 100%">No Data</th>
            </tr>
          </div> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
</div>