<div class="container" style="background: #f2f2f2;">
  <div class="row" style="margin-left: 0%">
    <div class="col-md-6">
      <h1 class="pt-2"> {{  getData?.name }} </h1>
      <p class="lbl_hint" style="margin-top: -0.5%; margin-bottom: 0.5%">Last Updated on: {{ getData?.updated_at }}</p>
      <p class="pt-2 lbl_hint">https://www.gtahtravel.com</p>
    </div>
    <div class="col-md-3 text-right">
      <img src="assets/images/small_gtah.png" alt="Responsive image" style="width: 60%; height: auto; border-radius: 8px; margin-bottom: 5%; margin-top: 5%; border: 1px solid #e0e0e0;">
    </div>
    <div class="col-md-3 pt-3">
        <p class="lbl_hint pt-1"><strong>GTAH TOURS SDN. BHD.</strong><br />No.27, Tingkat 1 Jalan Adenium 2G/7, Seksyen BB5, Bukit Beruntung, Selangor
        48300 Rawang
        Malaysia
        <br /><br />
        (Office: +603 6021 1336)<br />
        (Hp: +6012-292 3284)</p>
    </div>
    <div class="col-md-12">&nbsp;</div>
  </div>
  
  <div class="row">
    <div *ngIf="media && media.length >= 3" class="col-md-7">
      <mat-card>
      <div class="slider" style="width: 100%; height: auto; list-style: none; margin: 0;">
          <div *ngFor="let img of media; let i = index" class="text-center" style="width: 41%; height: auto;">
            <img id="myInput" data-toggle="modal" data-target="#exampleModalCenter" style="cursor: pointer;"
            src="{{urlStorage}}/package/{{ refId }}/{{ img.name }}" (click)="openDialog(img.name)" title="{{ img.name }}" width="100%"
            height="100%" />
          </div>
      </div>
      </mat-card>
    </div>
    <div *ngIf="!media || media.length == 0" class="col-md-7 text-center">
      <mat-card style="min-height: 100%; padding-top: 100px;">
        No Image Added!
      </mat-card>
    </div>
    <div *ngIf="media && media.length < 3 && media.length != 0" class="col-md-7">
      <mat-card>
      <div class="slider" style="width: 100%; height: auto; list-style: none; margin: 0;">
          <div *ngFor="let img of media; let i = index" class="text-center" style="width: 100%; height: 200px;">
            <img id="myInput" data-toggle="modal" data-target="#exampleModalCenter" style="cursor: pointer;"
            src="{{urlStorage}}/package/{{ refId }}/{{ img.name }}" (click)="openDialog(img.name)" title="{{ img.name }}" width="100%"
            height="100%" />
          </div>
      </div>
      </mat-card>
    </div>

    <div class="d-md-none">&nbsp;</div>

    <div class="col-md-5">
      <mat-card class="full-width">
        <div class="row">
          <div class="col-md-12">
            <mat-card-title>Travel Details</mat-card-title>
          </div>
        </div>
        <mat-card-content>
          <div class="row" style="font-size: inherit; font-family: inherit;">
            <div class="col-md-6">
              <label class="lbl_view">Travel Date</label>
              <p class="txt_view">{{ getData?.travel_date }}</p>
            </div>
            <div class="col-md-6">
              <label class="lbl_view">Return Date</label>
              <p class="txt_view">{{ getData?.return_date }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="lbl_view">Availability</label>
              <!-- <p class="txt_view">{{ getData?.unit }}</p> -->
              <!-- <p *ngIf="getData?.unit != 0" class="txt_view">{{ getData?.unit }}</p>
              <p *ngIf="getData?.unit == 0" class="red-font font-weight-bold">FULL</p> -->
              <p *ngIf="getData?.unit != 0  && getData?.unit > 10" class="red-font font-weight-bold">SELLING FAST</p>
              <p *ngIf="getData?.unit != 0  && getData?.unit <= 10">{{ getData?.unit }}</p>
              <p *ngIf="getData?.unit == 0" class="txt_view font-weight-bold maroon-font">FULL</p>
            </div>
            <div class="col-md-6">&nbsp;</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- <div *ngIf="media && media.length < 3" class="col-md-9">
      <mat-card class="full-width">
        <div class="row">
          <div class="col-md-12">
            <mat-card-title>Travel Details</mat-card-title>
          </div>
        </div>
        <mat-card-content>
          <div class="row" style="font-size: inherit; font-family: inherit;">
            <div class="col-md-4">
              <label class="lbl_view">Travel Date</label>
              <p class="txt_view">{{ getData?.travel_date }}</p>
            </div>
            <div class="col-md-4">
              <label class="lbl_view">Return Date</label>
              <p class="txt_view">{{ getData?.return_date }}</p>
            </div>
            <div class="col-md-4">
              <label class="lbl_view">Availability</label>
              <p *ngIf="getData?.unit != 0" class="txt_view">{{ getData?.unit }}</p>
              <p *ngIf="getData?.unit == 0" class="red-font font-weight-bold">FULL</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div> -->

  </div>
  
  <!-- PRICES -->
  <div class="row" style="margin-top: 3%">
    <div class="col-md-12">
      <mat-card>
        <div class="row">
          <div class="col-md-12">
            <mat-card-title>Prices</mat-card-title>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-center">
            <div class="card-body">
              <div class="card-title">
                <label class="lbl_view">Adult Price</label>
                <p class="lbl_hint">> 12 Years Old</p>
              </div>
            <div class="card-text">
              <p class="text_bold" style="font-size: 1.3rem;">RM {{ getData?.adult_price }}</p>
              <p *ngIf="shared.u_type == 1 || shared.u_type == 2 || shared.u_type == 4">Commission: <br /><strong>RM {{ adultComm }}</strong></p>
            </div>
          </div>
          </div>
          <div class="col-md-3 text-center" *ngIf="getData?.childbed_price">
            <div class="card-body">
                <div class="card-title">
              <label class="lbl_view">Child with Bed Price</label>
              <p class="lbl_hint">5 - 11 Years Old</p>
            </div>
            <div class="card-text">
              <p class="text_bold" style="font-size: 1.3rem;">RM {{ getData?.childbed_price }}</p>
              <p *ngIf="shared.u_type == 1 || shared.u_type == 2 || shared.u_type == 4">Commission: <br /><strong>RM {{ childbedComm }}</strong></p>
            </div>
          </div>
          </div>
          <div class="col-md-3 text-center" *ngIf="getData?.childnobed_price">
            <div class="card-body">
                <div class="card-title">
              <label class="lbl_view">Child without Bed Price</label>
              <p class="lbl_hint">2 - 4 Years Old</p>
            </div>
            <div class="card-text">
              <p class="text_bold" style="font-size: 1.3rem;">RM {{ getData?.childnobed_price }}</p>
              <p *ngIf="shared.u_type == 1 || shared.u_type == 2 || shared.u_type == 4">Commission: <br /><strong>RM {{ childnobedComm }}</strong></p>
            </div>
            </div>
          </div>
          <div class="col-md-3 text-center" *ngIf="getData?.infant_price">
            <div class="card-body">
                <div class="card-title">
              <label class="lbl_view">Infant Price</label>
              <p class="lbl_hint">< 2 Years Old</p> 
            </div> 
            <div class="card-text">
                <p class="text_bold" style="font-size: 1.3rem;">RM {{ getData?.infant_price }}</p>
                <p *ngIf="shared.u_type == 1 || shared.u_type == 2 || shared.u_type == 4">Commission: <br /><strong>RM {{ infantComm }}</strong></p>
            </div>
          </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <!-- DESC -->
  <div class="row" style="background: transparent;">
    <div class="col-md-12" style="margin-top: 3%;">
      <mat-card>
        <mat-card-title>Description</mat-card-title>
        <pre class="lbl_view" style="font-size: inherit; font-family: inherit; overflow-wrap: break-word"><p>{{ getData?.description }}</p></pre>
      </mat-card>
    </div>
  </div>

  <!-- INCLUDES & EXCLUDES -->
  <div class="row" style="margin-top: 3%">
    <!-- <div class="col-md-12">&nbsp;</div> -->
    <div class="col-md-12">
    <mat-card class="full-width">
      <div class="row">
        <div class="col-md-6 mt-1" *ngIf="getData?.includes_id">
          <h5 class="lead">Includes:</h5>
          <!-- <mat-divider></mat-divider> -->
          <ul *ngIf="getData.includes_id.length != 0" class="list-group">
            <li *ngFor="let inc of getData?.includes_id" class="list-group-item d-flex align-items-left">
              <span class="badge"><i
                class="material-icons"
                style="font-size: 1.5em; color: green; vertical-align: middle">check_circle_outline</i></span> {{ inc }}</li>
          </ul>
          <p class="text_view" *ngIf="getData.includes_id.length == 0" style="margin-left: -1.5%">N/A</p>
        </div>

        <div class="col-md-6 mt-1" *ngIf="getData?.excludes_id">
          <h5 class="lead">Excludes:</h5>
          <!-- <mat-divider></mat-divider> -->
          <ul *ngIf="getData.excludes_id.length != 0" class="list-group">
            <li *ngFor="let ex of getData?.excludes_id" class="list-group-item d-flex align-items-left">
              <span class="badge">
                <i class="material-icons" style="font-size: 1.5em; color: red; vertical-align: middle">highlight_off</i></span>
              {{ ex }}</li>
          </ul>
          <p class="text_view" *ngIf="getData.excludes_id.length == 0" style="margin-left: -1.5%">N/A</p>
        </div>
      </div>
  </mat-card>
  </div>
</div>

  <div class="row">&nbsp;</div>
</div>

<footer class="footer-view sticky-bottom">
  <div class="container">
    <div class="col-md-12">
      <label class="text-uppercase p-0">Terms & Conditions:</label>
      <ul style="margin-top: -3%">
        <li class="lbl_view">1. Deposit will not be refunded.</li>
        <li class="lbl_view">2. 50% payment 2 months prior trip and full payment 30 days before trip. GTAH has the right to cancel the trip without refunding the deposit if the condition is not met.</li>
        <li class="lbl_view">3. If the customer are unable to pass the immigration, GTAH will not be held responsible and no refund will be given. </li>
        <li class="lbl_view">4. GTAH reserved the rights to change or alter the program and revise the prices without prior notice due to unforeseen circumstances.</li>
        <li class="lbl_view">5. GTAH will not be held accountable or reliable for any changes in regulation by service provider (eg airlines/hotel etc) or the government.</li>
        <li class="lbl_view">&nbsp;</li>
        <li class="lbl_view">By making the payment into GTAH account, the customer agrees to all the term and condition above mention.</li>
      </ul>
    </div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">
      <label class="text-uppercase p-0">Remarks:</label>
      <ul style="margin-top: -3%">
        <li class="lbl_view">1. NO reservation has been made, subject to room availability.</li>
        <li class="lbl_view">2. Tour and price are subject to change without notice or in case of deduct number of pax in quoted group.</li>
        <li class="lbl_view">3. Valid for international market.</li>
        <li class="lbl_view">4. The timing of sightseeing points shall be fixing by local operator due to traffic and weather conditions, however all points must cover unless amendment or cancellation make by clients themselves (Non-refundable for any cancellation that made by clients).</li>
        <li class="lbl_view">5. We reserve the right to change the rate subject to currency fluctuation or any unforeseen increment of ground arrangement by local government.</li>
        <li class="lbl_view">6. Deposit is non-refundable (cancellation equals to deposit burn).</li>
        <li class="lbl_view">7. Full payment must be made AT LEAST 1 month before travel date.</li>
      </ul>
    </div>
  </div>
</footer>