
.slider {
    background: transparent;

    /* line them up horizontally */
    display: flex;
  
    /* allow for scrolling */
    overflow-x: auto;
  
    /* make it smooth on iOS */
    -webkit-overflow-scrolling: touch;

    scroll-snap-points-x: repeat(200px);
    scroll-snap-type: mandatory;
}

.slider > div {
    /* make sure the width is honored */
    flex-shrink: 0;
    width: 100%;
    height: auto;
}

label {
    padding: 8px 8px 0px 8px;
    margin-bottom: 0;
    font-weight: 500;
    margin-top: -2%;
}

p {
    padding: 0px 8px 8px 8px;
}

.txt_view {
    font-size: 1.2rem;
}

.lbl_view {
    font-size: 0.9rem;
    font-weight: 300;
}

.list-group-item:nth-child(odd) {
    background: #f9f9f9;
}

.list-group-item:nth-child(even) {
    background: transparent;
}