<div class="col-md-12" *ngIf="users">
  <div class="row">
    <div class="col-md-11 col-sm-11 col-xs-11">
      <h1>Users</h1>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 text-right">
      <i routerLink="add" class="material-icons" style="font-size: 3em; cursor: pointer">add_box</i>
    </div>
  </div>

  <!-- <ul [@listStagger]="users">
    <li *ngFor="let user of users">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ user.name }}</mat-card-title>
          <mat-card-subtitle>{{ user.type }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <i routerLink="/users/{{ user.id }}" class="material-icons text-right list-action-button">edit</i>
          </button>
          <button mat-button>
            <i (click)="removeItem(user.id, user.name);" class="material-icons list-action-button">delete</i>
          </button>
          &nbsp;
            <i *ngIf="user.active == 1" class="material-icons active" title="Active">check_circle_outline</i>
            <i *ngIf="user.active == 0" class="material-icons inactive" title="Inactive">highlight_off</i>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul> -->
  <mat-form-field class="full-width">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <mat-table class="full-width" [dataSource]="dataSource" matSort>
      
      <!-- num Column -->
      <ng-container matColumnDef="num">
          <!-- style="width: 5%" -->
        <mat-header-cell class="text-center noColumn" *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell class="text-center noColumn"  *matCellDef="let element; let i = index;">
          {{element.row+1 }}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
          <!-- style="width: 45%" -->
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- contact_no Column -->
      <ng-container matColumnDef="contact_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Contact No </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.contact_no}} </mat-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.type_name}} </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell class="text-center statusColumn" *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell class="text-center statusColumn" *matCellDef="let element">
          <i *ngIf="element.active == 1" class="material-icons active" title="Active">check_circle_outline</i>
          <i *ngIf="element.active == 0" class="material-icons inactive" title="Inactive">highlight_off</i>
        </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell class="text-center actionColumn" mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell class="text-center actionColumn" mat-cell *matCellDef="let element">
          <!-- <button mat-button> -->
            <i routerLink="/protected/users/{{ element.id }}" class="material-icons text-right list-action-button">edit</i>
            &nbsp;
          <!-- </button>
          <button mat-button> -->
            <i (click)="removeItem(element.id, element.name);" class="material-icons list-action-button">delete</i>
          <!-- </button> -->
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
            Loading..
        </mat-footer-cell>
      </ng-container>
       -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <!-- <mat-footer-row *matFooterRowDef="['loading']"></mat-footer-row> -->
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
</div>