<div class="col-md-12" *ngIf="includes">
  <div class="row">
    <div class="col-md-11 col-sm-11 col-xs-11">
      <h1>Package Includes</h1>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 text-right">
      <i routerLink="add" class="material-icons" style="font-size: 3em; cursor: pointer">add_box</i>
    </div>
  </div>

  <!-- <ul *ngIf="includes" [@listStagger]="includes">
    <li *ngFor="let include of includes">
      <mat-card>
        <div class="row">
          <div class="col-md-9">
            <a>{{ include.name }}</a>
          </div>
          <div class="col-md-3 text-right">
            <h1>
              <i class="text-right" routerLink="{{ include.id }}" class="material-icons" style="font-size: 0.8em; cursor: pointer">edit</i>
              &nbsp;
              <i (click)="removeItem(include.id, include.name);" class="material-icons" style="font-size: 0.8em; cursor: pointer">delete</i>
              &nbsp;
              <i *ngIf="include.active == 1" class="material-icons" style="font-size: 0.8em; color: green" title="Active">check_circle_outline</i>
              <i *ngIf="include.active == 0" class="material-icons" style="font-size: 0.8em; color: red" title="Inactive">highlight_off</i>
            </h1>
          </div>
        </div>
      </mat-card>
    </li>
  </ul> -->

  <mat-form-field class="full-width">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <mat-table class="full-width" [dataSource]="dataSource" matSort>
      <!-- num Column -->
      <ng-container matColumnDef="num">
          <!-- style="width: 5%" -->
        <mat-header-cell class="text-center noColumn" *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell class="text-center noColumn"  *matCellDef="let element; let i = index;">
          <!-- {{(shared.pageNum == 1) ? (i + 1) : shared.pageNum + (i + 1) }} -->
          {{ element.row+1 }}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
          <!-- style="width: 45%" -->
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell class="text-center statusColumn" *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell class="text-center statusColumn" *matCellDef="let element">
          <i *ngIf="element.active == 1" class="material-icons active" title="Active">check_circle_outline</i>
          <i *ngIf="element.active == 0" class="material-icons inactive" title="Inactive">highlight_off</i>
        </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell class="text-center actionColumn" mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell class="text-center actionColumn" mat-cell *matCellDef="let element">
          <!-- <button mat-button> -->
            <i routerLink="/protected/includes/{{ element.id }}" class="material-icons text-right list-action-button">edit</i>
            &nbsp;
          <!-- </button>
          <button mat-button> -->
            <i (click)="removeItem(element.id, element.name);" class="material-icons list-action-button">delete</i>
          <!-- </button> -->
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
            Loading..
        </mat-footer-cell>
      </ng-container>
       -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <!-- <mat-footer-row *matFooterRowDef="['loading']"></mat-footer-row> -->
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<!-- </div>
<div class="text-center" style="margin-top: 1%" *ngIf="totalElements == 0">
  <mat-divider></mat-divider>
  <h5>No Record</h5>
  <mat-divider></mat-divider>
</div> -->
