<div class="col-md-12" style="margin-left: 0%">
<form [formGroup]="updateForm" autocomplete="off" role="form" novalidate>

  <div class="row">
    <button mat-button matSuffix mat-icon-button aria-label="Back" (click)="back('protected/product')">
        <mat-icon>arrow_back</mat-icon>
    </button>
    &nbsp;
    <h2>{{ pageMode }} PRODUCT</h2>
    <div class="col-md-12">
      <mat-divider></mat-divider>
    </div>
  </div>
  <!-- {{ products | json }} -->
  
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-6">
      <mat-form-field class="full-width">
        <input matInput tabindex="1" placeholder="Name" formControlName="name" required (change)="checkReqValues">
        <button mat-button *ngIf="name.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('name')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="updateForm.controls.name.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">&nbsp;</div>
    <div class="col-md-3">
      <mat-form-field class="full-width">
        <input matInput tabindex="2" placeholder="Available Units" formControlName="unit" required (change)="checkReqValues">
        <button mat-button *ngIf="unit.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('unit')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="updateForm.controls.unit.hasError('required')">
          Unit is required
        </mat-error>
      </mat-form-field>
    </div>
    <!-- <div class="col-md-3">
      <mat-form-field class="full-width">
        <input matInput tabindex="3" placeholder="Weight (Kg)" formControlName="weight">
        <button mat-button *ngIf="weight.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('weight')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div> -->
    <div class="col-md-9">&nbsp;</div>
    <!-- <div class="col-md-3">
      <mat-form-field class="full-width">
        <input matInput tabindex="4" placeholder="Peninsular Postage (RM)" formControlName="pen_postage">
        <button mat-button *ngIf="pen_postage.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('pen_postage')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="full-width">
        <input matInput tabindex="5" placeholder="West Postage (RM)" formControlName="west_postage">
        <button mat-button *ngIf="west_postage.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('west_postage')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div> -->
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-3">
      <mat-form-field class="full-width">
        <input matInput tabindex="6" placeholder="RM" formControlName="cost_price" required (change)="checkReqValues">
        <button mat-button *ngIf="cost_price.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('cost_price')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="updateForm.controls.cost_price.hasError('required')">
          Cost Price is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="full-width">
        <input matInput tabindex="7" placeholder="RM" formControlName="sale_price" required (change)="checkReqValues">
        <button mat-button *ngIf="sale_price.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('sale_price')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="updateForm.controls.sale_price.hasError('required')">
          Sell Price is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-3" *ngIf="this.refId !== 'add'">
      <h5>Created</h5>
      {{ created_at}}
    </div>
    <div class="col-md-3" *ngIf="this.refId !== 'add'">
      <h5>Updated</h5>
      {{ updated_at}}
    </div>
    <div class="col-md-6">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-3">
      <mat-slide-toggle formControlName="active" required [checked]="isActive == 1" (change)="checkReqValues">Active</mat-slide-toggle>
    </div>
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">&nbsp;</div>
  </div>
  
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-6 text-right">
      <button class="submit-btn" mat-raised-button matSuffix aria-label="SAVE" color="primary" [disabled]="!complete" (click)="submit(updateForm.value)"> 
          <mat-icon>save</mat-icon> SAVE
      </button>
    </div>
  </div> <!-- mat-icon-button -->

</form>
</div>