<div class="col-md-12" *ngIf="agents">
  <div class="row">
    <div class="col-md-11 col-sm-11 col-xs-11">
      <h1>Agents</h1>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 text-right">
      <i routerLink="add" class="material-icons" style="font-size: 3em; cursor: pointer">add_box</i>
    </div>
  </div>

<!-- <ul [@listStagger]="agents">
  <li *ngFor="let agent of agents">
    <mat-card>
      <div class="row">
        <div class="col-md-9">
          <a>{{ agent.name }}</a>
          <ul>
            <li><label class="font-weight-bold">Identification Number</label> {{ agent.icno }}</li>
            <li><label class="font-weight-bold">Email</label> {{ agent.email }}</li>
            <li><label class="font-weight-bold">Registered</label> {{ agent.created_at }}</li>
            <li><label class="font-weight-bold">Updated</label> {{ agent.updated_at }}</li>
          </ul>
        </div>
        <div class="col-md-3 text-right">
          <h1>
            <i class="text-right" routerLink="{{ agent.id }}" class="material-icons"
              style="font-size: 0.8em; cursor: pointer">edit</i>
            &nbsp;
            <i (click)="removeItem(agent.id, agent.name);" class="material-icons"
              style="font-size: 0.8em; cursor: pointer">delete</i>
            &nbsp;
            <i *ngIf="agent.active == 1" class="material-icons" style="font-size: 0.8em; color: green"
              title="Active">check_circle_outline</i>
            <i *ngIf="agent.active == 0" class="material-icons" style="font-size: 0.8em; color: red"
              title="Inactive">highlight_off</i>
          </h1>
        </div>
      </div>
    </mat-card>
  </li>
  </ul> -->
  <mat-form-field class="full-width">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <mat-table class="full-width" [dataSource]="dataSource" matSort *ngIf="agents.length > 0">
      
      <!-- num Column -->
      <ng-container matColumnDef="num">
          <!-- style="width: 5%" -->
        <mat-header-cell class="text-center noColumn" *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell class="text-center noColumn"  *matCellDef="let element; let i = index;">
          {{element.row+1 }}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
          <!-- style="width: 45%" -->
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Role Column -->
      <ng-container matColumnDef="icno">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 0 25%;"> ICNO </mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 0 0 25%;"> {{element.icno}} </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell class="text-center statusColumn" *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell class="text-center statusColumn" *matCellDef="let element">
          <i *ngIf="element.active == 1" class="material-icons active" title="Active">check_circle_outline</i>
          <i *ngIf="element.active == 0" class="material-icons inactive" title="Inactive">highlight_off</i>
        </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell class="text-center actionColumn" mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell class="text-center actionColumn" mat-cell *matCellDef="let element">
          <!-- <button mat-button> -->
            <i routerLink="/protected/agents/{{ element.id }}" class="material-icons text-right list-action-button">edit</i>
            &nbsp;
          <!-- </button>
          <button mat-button> -->
            <i (click)="removeItem(element.id, element.name);" class="material-icons list-action-button">delete</i>
          <!-- </button> -->
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
            Loading..
        </mat-footer-cell>
      </ng-container>
       -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <!-- <mat-footer-row *matFooterRowDef="['loading']"></mat-footer-row> -->
    </mat-table>

    <div class="container text-center p-3" *ngIf="agents.length === 0">
        No records found
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
</div>