<div class="hover_bkgr_fricc" *ngIf="shared.loader">
  <span class="helper"></span>
  <div>
    <mat-spinner color="accent"></mat-spinner>
  </div>
</div>
<div id="container" style="height: 100%">
  <app-sidebar style="height: 100%"></app-sidebar>

  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>