<div class="container" style="color: #1d1d1d">
  <div class="row">
    <div class="col-md-12">
      <label class="lbl_title_m">Booking Remark for {{ data.refno }}</label>
      <p>{{ data.remark }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12 text-right">
        <button tabindex="9" class="submit-btn" mat-raised-button matSuffix aria-label="SAVE" color="warn" (click)="onNoClick()">
            <i class="fas fa-times"></i> CLOSE
        </button>
    </div>
  </div>
</div>