<div class="col-md-12" style="margin-left: 0%">
  <form [formGroup]="updateForm" autocomplete="off" role="form" novalidate>
  
    <div class="row">
      <button mat-button matSuffix mat-icon-button aria-label="Back" (click)="back('protected/commissionconfig')">
          <mat-icon>arrow_back</mat-icon>
      </button>
      &nbsp;
      <h2>{{ pageMode }} COMMISSION CONFIGURATION</h2>
      <div class="col-md-12">
        <mat-divider></mat-divider>
      </div>
    </div>
    <!-- {{ products | json }} -->
    
    <div class="row">
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput tabindex="1" placeholder="Name" formControlName="name" required (change)="checkReqValues()">
          <button mat-button *ngIf="name.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('name')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.name.hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">&nbsp;</div>
      <div class="col-md-12">&nbsp;</div>

      <div class="col-md-12">
        <label class="lbl_title_s font-weight-bold">Commission Rates (%)</label>
        <mat-divider></mat-divider>
      </div>
      <div class="col-md-12">&nbsp;</div>

      <div class="col-md-3">
        <mat-form-field class="full-width">
          <input matInput tabindex="2" placeholder="Total" formControlName="total" required (keyup)="checkReqValues()" [readonly]="refId != 'add'">
          <button mat-button *ngIf="total.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('total')" [disabled]="refId != 'add'">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.total.hasError('required')">
            Total is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-9">&nbsp;</div>

      <div class="col-md-3">
        <mat-form-field class="full-width">
          <input matInput tabindex="3" placeholder="HQ" formControlName="hq" required (keyup)="checkReqValues()" [readonly]="refId != 'add'">
          <button mat-button *ngIf="hq.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('hq')" [disabled]="refId != 'add'">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.hq.hasError('required')">
            HQ is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field class="full-width">
          <input matInput tabindex="4" placeholder="Agent" formControlName="agent" required (keyup)="checkReqValues()" [readonly]="refId != 'add'">
          <button mat-button *ngIf="agent.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('agent')" [disabled]="refId != 'add'">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.agent.hasError('required')">
            Agent is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field class="full-width">
          <input matInput tabindex="5" placeholder="Consultant" formControlName="consultant" value="2" (keyup)="checkReqValues()" [readonly]="true" [disabled]="true">
          <button mat-button *ngIf="consultant.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('consultant')" [disabled]="refId != 'add'">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.consultant.hasError('required')">
            Consultant is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field class="full-width">
          <input matInput tabindex="6" placeholder="Operations" formControlName="ops" required (keyup)="checkReqValues()" [readonly]="refId != 'add'">
          <button mat-button *ngIf="ops.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('ops')" [disabled]="refId != 'add'">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.ops.hasError('required')">
            Operations is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12">
        <mat-slide-toggle tabindex="12" formControlName="active" required [checked]="isActive == 1">Active
        </mat-slide-toggle>
      </div>
      <!-- <div class="col-md-3">&nbsp;</div>
      <div class="col-md-6">&nbsp;</div> -->
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12 text-right" *ngIf="this.refId !== 'add'">
        <h5><span class="badge badge-secondary">Created: {{ created_at}}</span>
          &nbsp;
      <!-- </div> -->
      <!-- <div class="col-md-6 text-right" *ngIf="this.refId !== 'add'"> -->
        <span class="badge badge-secondary">Updated: {{ updated_at}}</span></h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12 text-right">
        <button tabindex="13" class="submit-btn" mat-raised-button matSuffix aria-label="SAVE" color="primary"
          [disabled]="!complete" (click)="submit(updateForm.value)">
          <mat-icon>save</mat-icon> SAVE
        </button>
      </div>
      <div class="col-md-12">&nbsp;</div>
    </div> <!-- mat-icon-button -->

  </form>
</div>