<div class="col-md-12" *ngIf="companies">
  <div class="row">
    <div class="col-md-11 col-sm-11 col-xs-11">
      <h1>Companies</h1>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 text-right">
      <i routerLink="/companies/add" class="material-icons" style="font-size: 3em; cursor: pointer">add_box</i>
    </div>
  </div>
  
  <ul [@listStagger]="companies">
    <li *ngFor="let company of companies">
      <mat-card>
      <a routerLink="/details/{{ company.id }}">{{ company.name }}</a>
  
      <ul>
        <li>{{ company.address }}</li>
        <li>{{ company.email }}</li>
        <li>{{ company.contact_no }}</li>
        <!-- <li><a href="http://{{ package.name }}">{{ package.name }}</a></li> -->
      </ul>
    </mat-card>
    </li>
  </ul>
  </div>