<div class="col-md-12" style="margin-left: 0%">

  <div class="row">
    <div class="col-md-12">
      <button mat-button matSuffix mat-icon-button aria-label="Back" (click)="back('protected/booking')">
        <mat-icon>arrow_back</mat-icon>
      </button>
      &nbsp;
      <label class="lbl_main_header">{{ pageMode }} BOOKING</label>
    </div>
    <div class="col-md-12">
      <mat-divider></mat-divider>
    </div>
  </div>

  <!-- <div class="row">
  </div> -->

  <!-- <mat-vertical-stepper [linear]="isLinear" #stepper class="mat-elevation-z8"> -->
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" role="form" autocomplete="off" novalidate>
        <ng-template matStepLabel>Client Details</ng-template>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input matInput tabindex="1" placeholder="Name" formControlName="contact_person" required [readonly]="pageMode == 'VIEW' && bookingStatus != 1" autocomplete="off">
              <button mat-button *ngIf="contact_person.value && bookingStatus == 1" matSuffix mat-icon-button
                aria-label="Clear" (click)="clear('contact_person')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="firstFormGroup.controls.contact_person.hasError('required')">
                Name is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input matInput tabindex="2" placeholder="Contact Number" formControlName="contact_no" [readonly]="pageMode == 'VIEW' && bookingStatus != 1" required
              (keypress)="common.numberOnly($event);" (change)="checkReqValues()" autocomplete="off">
              <button mat-button *ngIf="contact_no.value && bookingStatus == 1" matSuffix mat-icon-button
                aria-label="Clear" (click)="clear('contact_no')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="firstFormGroup.controls.contact_no.hasError('required')">
                Contact Number is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input matInput tabindex="3" placeholder="Email" formControlName="contact_email" [readonly]="pageMode == 'VIEW' && bookingStatus != 1" required
                (keyup)="checkReqValues()" autocomplete="off">
              <button mat-button *ngIf="contact_email.value && bookingStatus == 1" matSuffix mat-icon-button
                aria-label="Clear" (click)="clear('contact_email')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="firstFormGroup.controls.contact_email.hasError('required')">
                Email is required
              </mat-error>
              <mat-error *ngIf="firstFormGroup.controls.contact_email.hasError('email') && !firstFormGroup.controls.contact_email.hasError('required')">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">&nbsp;</div>
          
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <textarea rows="2" matInput tabindex="4" placeholder="Mailing Address" formControlName="contact_address" (keyup)="checkReqValues()" [readonly]="pageMode == 'VIEW' && bookingStatus != 1"required></textarea>
              <mat-error *ngIf="firstFormGroup.controls.contact_email.hasError('required')">
                Mailing Address is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- <div class="text-right">
          <button mat-button matStepperNext>Next</button>
        </div> -->
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" autocomplete="off" role="form" novalidate>
        <ng-template matStepLabel>Booking Details</ng-template>

        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <input type="text" tabindex="5" placeholder="Select Package" matInput formControlName="packageCode" [matAutocomplete]="auto" required [readonly]="refId != 'add'">
              <button mat-button *ngIf="packageCode.value && refId == 'add'" matSuffix mat-icon-button aria-label="Clear"
                (click)="clear('packageCode','secondFormGroup')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-autocomplete #auto="matAutocomplete">
                <!-- <mat-option [value]="0"> - </mat-option> -->
                <mat-option *ngFor="let package of filteredOptions | async" [value]="package" (click)="setForm(package)">
                  {{package}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="secondFormGroup.controls.packageCode.hasError('required')">
                Package is required
              </mat-error>
            </mat-form-field>
          </div>
          
          <!-- <div class="col-md-3" *ngIf="packageCode.value"><label class="lbl_form" style="margin-top: 10%">Availability<br /><span style="color: #333; font-size: 1.2rem;">{{ maxPax }}</span></label></div> -->
          <div class="col-md-6" *ngIf="totalSelPax"><label class="lbl_form" style="margin-top: 10%">Total Pax Selected<br /><span style="color: #333; font-size: 1.2rem;">{{ totalSelPax }}</span></label></div>
          <div class="col-md-3">&nbsp;</div>

        </div>
          
        <div class="row">
          <!-- <div class="col-md-12">
            <label class="lbl_title_s">Pax Number</label>
          </div> -->
          <!-- <div class="col-md-12">&nbsp;</div> -->
          
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <input matInput tabindex="6" placeholder="Adult" formControlName="paxno_adult" 
                (keypress)="common.numberOnly($event);" (keyup)="calculateTotal(); checkReqValues()" [readonly]="refId != 'add'" required>
              <mat-error *ngIf="secondFormGroup.controls.paxno_adult.hasError('required')">
                Adult Pax Number is required
              </mat-error>
              <mat-hint align="start"><strong>> 12 Years Old <span *ngIf="adultPrice"> ( RM {{ adultPrice }} )</span></strong></mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <input matInput tabindex="7" placeholder="Child with Bed Price" formControlName="paxno_childbed"
                (keypress)="common.numberOnly($event);" (keyup)="calculateTotal(); checkReqValues()" [readonly]="refId != 'add'">
              <mat-hint align="start"><strong>5 - 11 Years Old <span *ngIf="childbedPrice"> ( RM {{ childbedPrice }} )</span></strong></mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <input matInput tabindex="8" placeholder="Child without Bed" formControlName="paxno_childnobed"
                (keypress)="common.numberOnly($event);" (keyup)="calculateTotal(); checkReqValues()" [readonly]="refId != 'add'">
              <mat-hint align="start"><strong>2 - 4 Years Old <span *ngIf="childnobedPrice"> ( RM {{ childnobedPrice }} )</span></strong> </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <input matInput tabindex="9" placeholder="Infant" formControlName="paxno_infant"
                (keypress)="common.numberOnly($event);" (keyup)="calculateTotal(); checkReqValues()" [readonly]="refId != 'add'">
              <mat-hint align="start"><strong>
                  < 2 Years Old <span *ngIf="infantPrice"> ( RM {{ infantPrice }} )</span></strong> </mat-hint> </mat-form-field> 
            </div>

            <div class="col-md-12">&nbsp;</div>

            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input type="number" matInput tabindex="10" placeholder="Total Amount (RM)" [value]="0" formControlName="total_amt" readonly
                (keypress)="common.numberOnly($event);" autocomplete="off">
                <!-- <button mat-button *ngIf="total_amt.value" [disabled]="!shared.isHq" matSuffix mat-icon-button
                  aria-label="Clear" (click)="clear('total_amt')">
                  <mat-icon>close</mat-icon>
                </button> -->
                <!-- <mat-error *ngIf="secondFormGroup.controls.total_amt.hasError('required')">
                  Contact Number is required
                </mat-error> -->
              </mat-form-field>
            </div> 

            <div class="col-md-9">&nbsp;</div>
          </div> 
          
          <div class="text-right">
            <!-- <button mat-button matStepperPrevious>Back</button> -->
            <!-- <button (click)="generateBookingID()" mat-button matStepperNext>Next</button> -->
          </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup" autocomplete="off" role="form" novalidate>
        <ng-template matStepLabel>Payment</ng-template>

        <div *ngIf="totalprice || refId != 'add'" class="row">

          <div class="col-md-6">
            <label class="lbl_title">Total Charge: <strong>RM {{ totalprice }}</strong></label>
          </div>
          
          <div class="col-md-6">
            &nbsp;
            <!-- <label class="lbl_title">Minimum Deposit: <strong>RM {{ minPayAmt }}</strong></label> -->
          </div>
          
          <div class="col-md-6" *ngIf="paid_amt">
            <label class="lbl_title">Paid Amount: <strong>{{ paid_amt }}</strong></label>
          </div>
          
          <div class="col-md-6" *ngIf="balance_amt">
            <label class="lbl_title">Unpaid Balance: <strong>{{ balance_amt }}</strong></label>
          </div>
            
          <div class="col-md-6">
            <label class="lbl_title">Travel Date: <strong>{{ travel_date }}</strong> ( in {{ timeLeft }} days). </label>
          </div>

          <div class="col-md-6">&nbsp;</div>
          
          <div class="col-md-12">&nbsp;</div>

          <div class="col-md-6">
            <label class="lbl_title_s font-weight-bold">Update Payment</label>
            <mat-divider></mat-divider>
            
            <mat-form-field class="full-width mt-2">
                <input matInput tabindex="11" placeholder="Payment Amount (RM)" formControlName="pay_amt" max="{{ balancePayable }}" 
                  (keypress)="common.numberOnly($event);" (keyup)="checkMaxPaymentAmt($event.target.value); checkReqValues()" (blur)="paymentAmountConfirmation()" autocomplete="off" required>
                <button mat-button *ngIf="pay_amt.value" matSuffix mat-icon-button
                  aria-label="Clear" (click)="clear('pay_amt', 'thirdFormGroup')">
                  <mat-icon>close</mat-icon>
                </button>
                <!-- <mat-error *ngIf="thirdFormGroup.controls.pay_amt.invalid && !payExceeded && payAmtError">
                  Payment Amount is lower than deposit.
                </mat-error>
                <mat-error *ngIf="thirdFormGroup.controls.pay_amt.invalid && payExceeded && payAmtError">
                  Payment Amount exceeded balance payable.
                </mat-error> -->
                <mat-error *ngIf="thirdFormGroup.controls.pay_amt.hasError('required')">
                  Paid Amount is required
                </mat-error>  
              </mat-form-field>
          </div>

          <div class="col-md-6">
            <label class="lbl_title_s font-weight-bold">Payment History</label>
            <mat-divider></mat-divider>
            
            <ul *ngFor="let p of payments" class="mt-2">
                <li>{{ p.updated_at }}, RM {{ p.paid_amt }}</li>
              </ul>
              <span *ngIf="payments.length === 0">-</span>
          </div>

          <!-- <div class="col-md-6">
          </div> -->

          <!-- <div class="col-md-9">&nbsp;</div> -->
          <!-- <div class="col-md-12">&nbsp;</div> -->


          <!-- <div class="col-md-6">
          </div> -->
          
          <div class="col-md-12">&nbsp;</div>

          <div class="col-md-12">
            <label class="lbl_title_s font-weight-bold">Attachments</label>
            <mat-divider></mat-divider>
          </div>

          <div class="col-md-12">
            <mat-form-field class="full-width" style="margin-bottom: 2%">
                <input tabindex="12" matInput placeholder="Proof of Payment" formControlName="paymentFile" maxlength="100" 
                (change)="checkReqValues()" readonly required>
                <button mat-button *ngIf="paymentFile.value" matSuffix mat-icon-button
                  aria-label="Clear" (click)="removeAllImage(refId, 'paymentFile', 'thirdFormGroup')">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-hint class="font-weight-bold">Optional.<br />File(s) size must not exceed 5MB.</mat-hint>
            </mat-form-field>
            <ng4-files-click (filesSelect)="paymentFileSelect($event)" [configId]="'fileConfPay'" (blur)="checkReqValues()">
              <span role="button" class="btn btn-info">Upload</span>
            </ng4-files-click>
          </div>

          <!-- <div *ngIf="payFile.length != 0" class="col-md-12">
            <span *ngFor="let pf of payFile" class="badge badge-info" style="margin-right: 1%" (click)="removeAllImage(refId, 'paymentFile', 'thirdFormGroup')">{{ pf }}</span>
          </div> -->

          <div class="col-md-12">&nbsp;</div>

          <div *ngIf="paymentMedia" class="col-md-12">
            <ul id="horizontal-list">
                <li *ngFor="let img of paymentMedia; let i = index" style="padding-right: 20px">
                  <div class="imgUploaded" title="{{ img.name }}">
                      <img *ngIf="img.code == 'image'" class="image" src="{{urlStorage}}/payment/{{ refId }}/{{ img.name }}" style="cursor: zoom-in;" (click)="openDialog(img.name,refId, 'payment')" width="auto" height="100" />
                      <i *ngIf="img.code == 'pdf'" class="fas fa-file-pdf" style="font-size: 4rem" (click)="goTo('/payment/'+refId+'/'+img.name)"></i>
                      <i *ngIf="img.code == 'word'" class="fas fa-file-word" style="font-size: 4rem" (click)="goTo('/payment/'+refId+'/'+img.name)"></i>
                      <div *ngIf="pageMode == 'ADD' || pageMode == 'EDIT'" class="middle">
                        <div class="text">
                          <i class="fas fa-times text-right" style="font-size: 0.5em; text-shadow: 3px 5px 2px #474747" (click)="removeImage(img.id, img.name)" title="Delete {{ img.name }}"></i>
                        </div>
                      </div>
                    </div>
                </li>
            </ul>
          </div>
          <div *ngIf="pageMode == 'ADD' || paymentMedia.length == 0" class="col-md-12">
            No file uploaded!
          </div>
        </div>

        <!-- <div class="text-right">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div> -->
      </form>
    </mat-step>

    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup" autocomplete="off" role="form" novalidate>
        <ng-template matStepLabel>Participants Details</ng-template>

        <div class="row">

          <div class="col-md-12">
            <label class="lbl_title_s font-weight-bold">Attachments</label>
            <mat-divider></mat-divider>
          </div>

          <div class="col-md-12">&nbsp;</div>

          <div class="col-md-12">
            <mat-form-field class="full-width" style="margin-bottom: 2%">
                <input tabindex="13" matInput placeholder="Supporting Documents" formControlName="participantsFile" maxlength="100" readonly>
                <button mat-button *ngIf="participantsFile.value" matSuffix mat-icon-button
                  aria-label="Clear" (click)="removeAllImage(refId, 'participantsFile', 'fourthFormGroup')">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-hint class="font-weight-bold">Optional.<br />Files(s) size must not exceed 5MB.</mat-hint>
            </mat-form-field>
            <ng4-files-click (filesSelect)="participantFilesSelect($event)" [configId]="'fileConfPar'">
              <span role="button" class="btn btn-info">Upload</span>
            </ng4-files-click>
          </div>
          <div class="col-md-6">&nbsp;</div>
          <div *ngIf="bookingMedia" class="col-md-12">
            <ul id="horizontal-list">
              <li *ngFor="let img1 of bookingMedia; let i = index" style="padding-right: 20px">
                <div class="imgUploaded" title="{{ img1.name }}">
                  <img *ngIf="img1.code == 'image'" class="image" src="{{urlStorage}}/booking/{{ refId }}/{{ img1.name }}" style="cursor: zoom-in;" (click)="openDialog(img1.name,refId, 'booking')" width="auto" height="100" />
                  <i *ngIf="img1.code == 'pdf'" class="fas fa-file-pdf" style="font-size: 4rem" (click)="goTo('/booking/'+refId+'/'+img1.name)"></i>
                  <i *ngIf="img1.code == 'word'" class="fas fa-file-word" style="font-size: 4rem" (click)="goTo('/booking/'+refId+'/'+img1.name)"></i>
                    <div class="middle">
                      <div class="text">
                          <i class="fas fa-times text-right" style="font-size: 0.5em; text-shadow: 3px 5px 2px #474747" (click)="removeImage(img1.id, img1.name)" title="Delete {{ img1.name }}"></i>
                      </div>
                    </div>
                  </div>
              </li>
                <!-- <li *ngFor="let img1 of bookingMedia; let i = index">
                  <div class="imgUploaded" title="{{ img1.name }}">
                      <img class="image" src="{{urlStorage}}/booking/{{ refId }}/{{ img1.name }}" style="cursor: zoom-in;" (click)="openDialog(img1.name, refId, 'booking')" width="auto" height="100" />
                      <div class="middle">
                        <div class="text">
                            <i class="text-right" class="material-icons" style="font-size: 0.5em;" (click)="removeImage(img1.id, img1.name)">clear</i>
                        </div>
                      </div>
                    </div>
                </li> -->
            </ul>
          </div>
          <div *ngIf="pageMode == 'ADD' || bookingMedia.length == 0" class="col-md-12">
            No file uploaded!
          </div>

          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <textarea rows="2" matInput tabindex="14" placeholder="Remark" formControlName="remark" (blur)="checkReqValues()"></textarea>
            </mat-form-field>
          </div>
        </div>

        <!-- <div class="text-right">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div> -->
      </form>
    </mat-step>
    <!-- <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div class="text-right">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step> -->
  </mat-vertical-stepper>

  <div class="row">
        
      <div class="col-md-12">&nbsp;</div>
      
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12 text-right" *ngIf="this.refId !== 'add'">
        <h5><span class="badge badge-secondary">Created: {{ created_at}}</span>
          &nbsp;
          <span class="badge badge-secondary">Updated: {{ updated_at}}</span></h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12 text-right">
        <button tabindex="9" class="submit-btn" mat-raised-button matSuffix aria-label="SAVE" color="primary"
          [disabled]="!complete" (click)="submit()">
          <mat-icon>save</mat-icon> SAVE
        </button>
      </div>
      <div class="col-md-12">&nbsp;</div>
    </div> 


  <!-- <div class="col-md-12">&nbsp;</div>
  
        <div class="col-md-12">
          <mat-form-field class="full-width" style="margin-bottom: 1%">
              <input tabindex="14" matInput placeholder="Media File" formControlName="mediaFile" maxlength="100" 
              (change)="checkReqValues()" readonly>
              <button mat-button *ngIf="mediaFile.value" [disabled]="shared.isAgent" matSuffix mat-icon-button
                aria-label="Clear" (click)="removeAllImage(refId, 'mediaFile')">
                <mat-icon>close</mat-icon>
              </button>
          </mat-form-field>
          <ng4-files-click (filesSelect)="filesSelect($event)">
            <span role="button" class="btn btn-info">Upload photos</span>
          </ng4-files-click>
        </div>
        <div class="col-md-6">&nbsp;</div>
        <div *ngIf="media && pageMode=='EDIT'" class="col-md-12">
          <ul id="horizontal-list">
              <li *ngFor="let img of media; let i = index">
                <div class="imgUploaded" (click)="removeImage(img.id, img.name)" title="{{ img.name }}">
                    <img class="image" src="storage/uploads/package/{{ refId }}/{{ img.name }}" width="auto" height="100" />
                    <div class="middle">
                      <div class="text">
                          <i *ngIf="shared.isHq" class="text-right" class="material-icons" style="font-size: 1.5em;">clear</i>
                      </div>
                    </div>
                  </div>
              </li>
          </ul>
        </div>
        <div *ngIf="media.length == 0 && pageMode=='EDIT'" class="col-md-12">
          No photo uploaded!
        </div>
        
        <div class="col-md-12">&nbsp;</div>
        <div class="col-md-12">
          <mat-slide-toggle tabindex="15" formControlName="active" required [checked]="isActive == 1">Active
          </mat-slide-toggle>
        </div>
        
        <div class="col-md-12">&nbsp;</div>
        <div class="col-md-12 text-right" *ngIf="this.refId !== 'add'">
          <h5><span class="badge badge-secondary">Created: {{ created_at}}</span>
            &nbsp;
            <span class="badge badge-secondary">Updated: {{ updated_at}}</span></h5>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12">&nbsp;</div>
        <div class="col-md-12 text-right">
          <button tabindex="9" class="submit-btn" mat-raised-button matSuffix aria-label="SAVE" color="primary"
            [disabled]="!complete" (click)="submit(updateForm.value)">
            <mat-icon>save</mat-icon> SAVE
          </button>
        </div>
        <div class="col-md-12">&nbsp;</div>
      </div>  -->
  <!-- mat-icon-button -->

  <!-- </form> -->
</div>