.submit-btn {
    font-size: 0.9em;
    font-weight: bold;
}

.image {
  opacity: 1;
  display: block;
  width: auto;
  height: 100;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}

.imgUploaded {
    position: relative;
    cursor: pointer;
    width: inherit;
}

.imgUploaded:hover .image{
    // background:rgba(0,0,0,.4);
    opacity: 0.3;
    cursor: pointer;
}

.imgUploaded:hover .middle {
    // background:rgba(0,0,0,.4);
    opacity: 1;
    cursor: pointer;
}

.text {
    // background-color: #4CAF50;
    color: red;
    cursor: pointer;
    font-size: 60px;
    padding: 10px;
  }