<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div mat-dialog>
    <img id="myInput" data-toggle="modal" data-target="#exampleModalCenter" src="{{ data?.src }}" width="100%" height="auto" />
</div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
</div> -->
