<div class="container">
<form [formGroup]="form" class="form-signin text-center" autocomplete="off" role="form">
  <img src="assets/images/small_gtah.png" class="img-fluid" alt="Responsive image">
  <h1 *ngIf="!common.isLogin" class="h3 mb-3 font-weight-normal text-left">Please sign in</h1>
  <h1 *ngIf="common.isLogin" class="h3 mb-3 font-weight-normal">Welcome, {{ name }}!</h1>
  <label *ngIf="!common.isLogin" for="username" class="sr-only">Email address</label>
  <mat-form-field class="full-width">
    <input matInput *ngIf="!common.isLogin" type="text" value="" formControlName="username"
      placeholder="Username" required="" autofocus="">
  </mat-form-field>

  <label *ngIf="!common.isLogin" for="password" class="sr-only">Password</label>
  <mat-form-field class="full-width">
    <input matInput *ngIf="!common.isLogin" type="password" formControlName="password" placeholder="Password">
  </mat-form-field>
  <div class="text-left pb-3 pointer">
    <span routerLink="forgotpassword" style="font-size: 0.8em">Forgot Password</span>
  </div>
  <button *ngIf="!common.isLogin" class="btn btn-lg btn-primary btn-block" type="submit"
    (click)="loginUser(form.value)">Sign in</button>
  <button *ngIf="common.isLogin" class="btn btn-lg btn-primary btn-block" type="submit" (click)="userLogout()">Log
    Out</button>
  <p class="mt-5 mb-3 text-muted">GTAH Tours Sdn. Bhd. © 2019</p>
</form>
</div>