<div class="col-md-12" style="margin-left: 0%">
  <form [formGroup]="updateForm" autocomplete="off" role="form" novalidate>
  
    <div class="row">
      <button mat-button matSuffix mat-icon-button aria-label="Back" (click)="back('protected/includes')">
          <mat-icon>arrow_back</mat-icon>
      </button>
      &nbsp;
      <h2>{{ pageMode }} PACKAGE INCLUDE ITEM</h2>
      <div class="col-md-12">
        <mat-divider></mat-divider>
      </div>
    </div>
    <!-- {{ products | json }} -->
    
    <div class="row">
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput tabindex="1" placeholder="Name" formControlName="name" required (change)="checkReqValues()">
          <button mat-button *ngIf="name.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('name')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.name.hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">&nbsp;</div>
      <div class="col-md-12">
        <mat-form-field class="full-width">
          <textarea matInput tabindex="2" placeholder="Description" formControlName="description"></textarea>
          <!-- <mat-error *ngIf="updateForm.controls.description.hasError('required')">
            Mailing Address is required
          </mat-error> -->
        </mat-form-field>
      </div>
      <div class="col-md-6">&nbsp;</div>
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12">
        <mat-slide-toggle tabindex="12" formControlName="active" required [checked]="isActive == 1">Active
        </mat-slide-toggle>
      </div>
      <!-- <div class="col-md-3">&nbsp;</div>
      <div class="col-md-6">&nbsp;</div> -->
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12 text-right" *ngIf="this.refId !== 'add'">
        <h5><span class="badge badge-secondary">Created: {{ created_at}}</span>
          &nbsp;
      <!-- </div> -->
      <!-- <div class="col-md-6 text-right" *ngIf="this.refId !== 'add'"> -->
        <span class="badge badge-secondary">Updated: {{ updated_at}}</span></h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12 text-right">
        <button tabindex="13" class="submit-btn" mat-raised-button matSuffix aria-label="SAVE" color="primary"
          [disabled]="!complete" (click)="submit(updateForm.value)">
          <mat-icon>save</mat-icon> SAVE
        </button>
      </div>
      <div class="col-md-12">&nbsp;</div>
    </div> <!-- mat-icon-button -->

  </form>
</div>