<div class="col-md-12" *ngIf="packages">
  <div class="row">
    <div class="col-md-11 col-sm-11 col-xs-11">
      <h1>Packages</h1>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 text-right">
      <i *ngIf="shared.u_type == 1 || shared.u_type == 2 || shared.u_type == 6" routerLink="add" class="material-icons" style="font-size: 3em; cursor: pointer">add_box</i>
    </div>
  </div>

  <!-- <ul [@listStagger]="packages">
    <li *ngFor="let package of packages">
      <mat-card>
        <div class="row">
          <div class="col-md-9">
            <a>{{ package.name }}</a>
            <ul>
              <li><label class="font-weight-bold">Units</label> {{ package.unit }}</li>
              <li><label class="font-weight-bold">Price (RM)</label> {{ package.price }}</li>
            </ul>
          </div>
          <div class="col-md-3 text-right">
            <h1 *ngIf="package.locked == 0">
              <i class="text-right" routerLink="/view/{{ package.code }}" class="material-icons" style="font-size: 0.8em; cursor: pointer">visibility</i>
              &nbsp;
              <i *ngIf="shared.u_type == 1 || shared.u_type == 2" class="text-right" routerLink="{{ package.id }}" class="material-icons" style="font-size: 0.8em; cursor: pointer">edit</i>
              &nbsp;
              <i *ngIf="shared.u_type == 1 || shared.u_type == 2" (click)="removeItem(package.id, package.name);" class="material-icons" style="font-size: 0.8em; cursor: pointer">delete</i>
              &nbsp;
              <i *ngIf="package.active == 1" class="material-icons" style="font-size: 0.8em; color: green" title="Active">check_circle_outline</i>
              <i *ngIf="package.active == 0" class="material-icons" style="font-size: 0.8em; color: red" title="Inactive">highlight_off</i>
            </h1>
          </div>
        </div>
      </mat-card>
    </li>
  </ul> -->

  <mat-form-field class="full-width">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off">
  </mat-form-field>

  <div class="mat-elevation-z8" style="overflow: auto;">
    <mat-table class="full-width" [dataSource]="dataSource" matSort>
      <!-- num Column -->
      <ng-container matColumnDef="num" sticky>
          <!-- style="width: 5%" -->
        <mat-header-cell class="text-center noColumn" *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell class="text-center noColumn"  *matCellDef="let element; let i = index;">
          <!-- {{(shared.pageNum == 1) ? (i + 1) : shared.pageNum + (i + 1) }} -->
          {{ element.row+1 }}
        </mat-cell>
      </ng-container>

      <!-- code Column -->
      <ng-container matColumnDef="code">
          <!-- style="width: 45%" -->
        <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
          <!-- style="width: 45%" -->
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- description Column -->
      <ng-container matColumnDef="travel_date">
          <!-- style="width: 45%" -->
        <mat-header-cell *matHeaderCellDef mat-sort-header> Travel Date </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngIf="element.daysNo > 0" [ngClass]="{'font-weight-bold red-font':element.daysNo <= 30, '': element.daysNo > 30}"> {{element.travel_date}} <br /> {{ element.timeLeft }} </span>
          <span *ngIf="element.daysNo <= 0" class="font-weight-bold"> {{element.travel_date}} <br />Done</span>
        </mat-cell>
      </ng-container>

      <!-- description Column -->
      <ng-container matColumnDef="return_date">
          <!-- style="width: 45%" -->
        <mat-header-cell *matHeaderCellDef mat-sort-header> Return Date </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngIf="element.daysNo > 0" [ngClass]="{'font-weight-bold':element.daysNo <= 30, '': element.daysNo > 30}"> {{element.return_date}}<br />&nbsp;</span>
          <span *ngIf="element.daysNo <= 0" class="font-weight-bold"> {{element.return_date}} <br />Done</span>
        </mat-cell>
      </ng-container>

      <!-- unit Column -->
      <ng-container matColumnDef="unit">
        <mat-header-cell class="text-center statusColumn" *matHeaderCellDef mat-sort-header> Availability </mat-header-cell>
        <mat-cell class="text-center statusColumn font-weight-bold text-center" *matCellDef="let element">
            <span *ngIf="element.unit != 0  && element.unit > 0" class="red-font" style="background: yellow">SELLING FAST</span>
            <!-- <span *ngIf="element.unit != 0  && element.unit <= 10">{{ element.unit }}</span> -->
            <span *ngIf="element.unit == 0" class="maroon-font">FULL</span>
          <!-- <i *ngIf="element.active == 1" class="material-icons active" title="Active">check_circle_outline</i>
          <i *ngIf="element.active == 0" class="material-icons inactive" title="Inactive">highlight_off</i> -->
        </mat-cell>
      </ng-container>

      <!-- statud Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell class="text-center statusColumn" *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell class="text-center statusColumn" *matCellDef="let element">
          <i *ngIf="element.active == 1" class="material-icons active" title="Active">check_circle_outline</i>
          <i *ngIf="element.active == 0" class="material-icons inactive" title="Inactive">highlight_off</i>
        </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action" stickyEnd>
        <mat-header-cell class="text-center actionColumn" mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell class="text-center actionColumn" mat-cell *matCellDef="let element">
            <i routerLink="/view/{{ element.code }}" class="material-icons list-action-button">visibility</i>
            &nbsp;
          <!-- <button mat-button> -->
            <div *ngIf="element.daysNo > 1">
            <i *ngIf="shared.u_type == 1 || shared.u_type == 2 || shared.u_type == 6" routerLink="/protected/package/{{ element.id }}" class="material-icons list-action-button">edit</i>
            &nbsp;
          <!-- </button>
          <button mat-button> -->
            <i *ngIf="shared.u_type == 1 || shared.u_type == 2 || shared.u_type == 6" (click)="removeItem(element.id, element.name);" class="material-icons list-action-button">delete</i>
          </div>
            <!-- </button> -->
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
            Loading..
        </mat-footer-cell>
      </ng-container>
       -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <!-- <mat-footer-row *matFooterRowDef="['loading']"></mat-footer-row> -->
    </mat-table>

    <div class="container text-center p-3"  *ngIf="packages.length === 0">
      No records found
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
