<div class="col-md-12" style="margin-left: 0%">
  <form [formGroup]="updateForm" autocomplete="off" role="form" novalidate>

    <div class="row">
      <div class="col-md-12">
        <button mat-button matSuffix mat-icon-button aria-label="Back" (click)="back('protected/package')">
          <mat-icon>arrow_back</mat-icon>
        </button>
        &nbsp;
        <label class="lbl_main_header">{{ pageMode }} PACKAGE</label>
      </div>
      <div class="col-md-12">
        <mat-divider></mat-divider>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Follow Template" matInput formControlName="template" [matAutocomplete]="auto">
          <button mat-button *ngIf="template.value" [disabled]="shared.isAgent" matSuffix mat-icon-button aria-label="Clear"
            (click)="clear('template')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #auto="matAutocomplete">
            <!-- <mat-option [value]="0"> - </mat-option> -->
            <mat-option *ngFor="let package of filteredOptions | async" [value]="package" (click)="setForm(package)">
              {{package}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput tabindex="1" placeholder="Name" formControlName="name" required (keyup)="checkReqValues()">
          <button mat-button *ngIf="name.value" [disabled]="shared.u_type != 1 || shared.u_type != 2" matSuffix mat-icon-button aria-label="Clear"
            (click)="clear('name')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.name.hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="full-width">
          <input matInput tabindex="2" placeholder="Code" formControlName="code" required (blur)="validateCode(code.value)" (keyup)="checkReqValues()" [readonly]="pageMode != 'ADD'">
          <button mat-button *ngIf="code.value" [disabled]="shared.u_type != 1 || shared.u_type != 2" matSuffix mat-icon-button aria-label="Clear"
            (click)="clear('code')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.code.hasError('required')">
            Code is required 
          </mat-error>
          <mat-error *ngIf="!code.valid">
            Code already exists! Create a new one. 
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field class="full-width">
          <input matInput tabindex="3" placeholder="Availability" formControlName="unit" required
            (keyup)="checkReqValues()">
          <button mat-button *ngIf="unit.value" [disabled]="shared.isAgent" matSuffix mat-icon-button aria-label="Clear"
            (click)="clear('unit')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.unit.hasError('required')">
            Availability is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">&nbsp;</div>

      <div class="col-md-3">
        <mat-form-field class="full-width">
          <input tabindex="4" matInput [min]="sMinDate" placeholder="Travel Date:" formControlName="travel_date" [matDatepicker]="td"
            (dateInput)="addStartEvent('input', $event)" (dateChange)="addStartEvent('change', $event)" required>
          <mat-datepicker-toggle matSuffix [for]="td"></mat-datepicker-toggle>
          <mat-datepicker #td></mat-datepicker>
        </mat-form-field>

      </div>
      <div class="col-md-3">
          <mat-form-field class="full-width">
            <input tabindex="5" matInput [min]="eMinDate" placeholder="Return Date:" formControlName="return_date" [matDatepicker]="rd"
              (dateInput)="addEndEvent('input', $event)" (dateChange)="addEndEvent('change', $event)" required>
            <mat-datepicker-toggle matSuffix [for]="rd"></mat-datepicker-toggle>
            <mat-datepicker #rd></mat-datepicker>
            <mat-error *ngIf="updateForm.controls.return_date.hasError('required')">
              Return Date is required 
            </mat-error>
            <mat-error *ngIf="invalidDate">
              Return Date cannot be same or earlier than Travel Date
            </mat-error>
          </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field class="full-width">
          <mat-select tabindex="6" placeholder="Commission Setting" [formControl]="cc_id" (selectionChange)="showConfig($event.value)">
            <mat-option *ngFor="let cc of commconfigs" [value]="cc">{{ cc?.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="updateForm.controls.cc_id.hasError('required')">
            Commission Setting is required 
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="selCommConfig" class="col-md-3">
        <p style="margin-top: 6%"><strong>Total:</strong> {{ selCommConfig?.total }}%&nbsp;&nbsp;<strong>HQ:</strong> {{ selCommConfig?.hq }}%&nbsp;&nbsp;<strong>Agent:</strong> {{ selCommConfig?.agent }}%</p>
      </div>
      <div *ngIf="!selCommConfig" class="col-md-3">&nbsp;</div>

      <div class="col-md-12">&nbsp;</div>
      
      <div class="col-md-12">
        <mat-form-field class="full-width">
          <textarea rows="8" matInput tabindex="8" placeholder="Package Description" formControlName="description" required
            (keyup)="checkReqValues()"></textarea>
          <mat-error *ngIf="updateForm.controls.description.hasError('required')">
            Package Description is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <label class="lbl_title">Prices</label>
      </div>

      <div class="col-md-3">
        <mat-form-field class="full-width">
          <input matInput tabindex="9" placeholder="Adult Price (RM)" formControlName="adult_price" required (keyup)="checkReqValues()">
          <button mat-button *ngIf="adult_price.value" [disabled]="shared.isAgent" matSuffix mat-icon-button
            aria-label="Clear" (click)="clear('adult_price')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.adult_price.hasError('required')">
            Adult Price is required
          </mat-error>
          <mat-hint align="start"><strong>> 12 Years Old</strong> </mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="full-width">
          <input matInput tabindex="10" placeholder="Child with Bed Price (RM)" formControlName="childbed_price" (keyup)="checkReqValues()">
          <button mat-button *ngIf="childbed_price.value" [disabled]="shared.isAgent" matSuffix mat-icon-button
            aria-label="Clear" (click)="clear('childbed_price')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.childbed_price.hasError('required')">
            Child with Bed Price is required
          </mat-error>
          <mat-hint align="start"><strong>5 - 11 Years Old</strong> </mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="full-width">
          <input matInput tabindex="11" placeholder="Child without Bed Price (RM)" formControlName="childnobed_price" (keyup)="checkReqValues()">
          <button mat-button *ngIf="childnobed_price.value" [disabled]="shared.isAgent" matSuffix mat-icon-button
            aria-label="Clear" (click)="clear('childnobed_price')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.childnobed_price.hasError('required')">
            Child without Bed Price is required
          </mat-error>
          <mat-hint align="start"><strong>2 - 4 Years Old</strong> </mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="full-width">
          <input matInput tabindex="12" placeholder="Infant Price (RM)" formControlName="infant_price" (keyup)="checkReqValues()">
          <button mat-button *ngIf="infant_price.value" [disabled]="shared.isAgent" matSuffix mat-icon-button
            aria-label="Clear" (click)="clear('infant_price')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.infant_price.hasError('required')">
            Infant Price is required
          </mat-error>
          <mat-hint align="start"><strong>< 2 Years Old</strong> </mat-hint>
        </mat-form-field>
      </div>
      
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12">&nbsp;</div>

      <div class="col-md-6" *ngIf="shared.u_type == 1 || shared.u_type == 2">
        <mat-form-field class="full-width">
          <mat-select tabindex="13" placeholder="Package Includes" [formControl]="includes_id" (selectionChange)="updateList()" multiple> 
            <mat-option *ngFor="let itemInclude of includes" [value]="itemInclude?.id" [disabled]="itemInclude?.disabled">{{ itemInclude?.name }}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col-md-6" *ngIf="shared.u_type == 1 || shared.u_type == 2">
        <mat-form-field class="full-width">
          <mat-select tabindex="14" placeholder="Package Excludes" [formControl]="excludes_id" (selectionChange)="updateList()" multiple>
            <mat-option *ngFor="let itemExclude of excludes" [value]="itemExclude?.id" [disabled]="itemExclude?.disabled">{{ itemExclude?.name }}</mat-option>
          </mat-select>
          <button mat-button *ngIf="excludes_id.value" [disabled]="shared.isAgent" matSuffix mat-icon-button
            aria-label="Clear" (click)="clear('excludes_id');">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-md-6" style="margin-bottom: 1%">
        <ul *ngFor="let selItem of incArr">
          <li style="background: transparent; font-size: 0.8em; border: 0"><i class="material-icons"
            style="font-size: 1.5em; color: green; vertical-align: middle">check_circle_outline</i> {{ selItem }}</li>
        </ul>
      </div>

      <div class="col-md-6" style="margin-bottom: 1%">
        <ul *ngFor="let selItem of exArr">
          <li style="background: transparent; font-size: 0.8em; border: 0"><i class="material-icons"
            style="font-size: 1.5em; color: red; vertical-align: middle">highlight_off</i> {{ selItem }}</li>
        </ul>
      </div>
      
      <div class="col-md-12">&nbsp;</div>

      <div class="col-md-12">
        <mat-form-field class="full-width" style="margin-bottom: 2%">
            <input tabindex="15" matInput placeholder="Media File" formControlName="mediaFile" maxlength="100" 
            (change)="checkReqValues()" readonly multiple required>
            <button mat-button *ngIf="mediaFile.value" [disabled]="shared.isAgent" matSuffix mat-icon-button
              aria-label="Clear" (click)="removeAllImage(refId, 'mediaFile')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-hint class="font-weight-bold">Optional.<br />File(s) size must not exceed 5MB.</mat-hint>
        </mat-form-field>
        <ng4-files-click (filesSelect)="filesSelect($event)">
          <span role="button" class="btn btn-info">Upload photos</span>
        </ng4-files-click>
      </div>
      <div class="col-md-6">&nbsp;</div>
      <div *ngIf="media && pageMode=='EDIT'" class="col-md-12">
        <ul id="horizontal-list">
            <li *ngFor="let img of media; let i = index">
              <div class="imgUploaded" title="{{ img.name }}">
                  <img class="image" src="{{urlStorage}}/package/{{ refId }}/{{ img.name }}" (click)="openDialog(img.name)" width="auto" height="100" />
                  <div class="middle">
                    <div class="text">
                        <i *ngIf="shared.u_type == 1 || shared.u_type == 2" class="text-right" class="material-icons" style="font-size: 0.5em;" (click)="removeImage(img.id, img.name)">clear</i>
                    </div>
                  </div>
                </div>
            </li>
        </ul>
      </div>
      
      <div *ngIf="!mediaFile.value && pageMode=='EDIT'" class="col-md-12">
        No photo uploaded!
      </div>
      
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12">
        <mat-slide-toggle tabindex="16" formControlName="active" required [checked]="isActive == 1">Active
        </mat-slide-toggle>
      </div>
      
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12 text-right" *ngIf="this.refId !== 'add'">
        <h5><span class="badge badge-secondary">Created: {{ created_at}}</span>
          &nbsp;
          <span class="badge badge-secondary">Updated: {{ updated_at}}</span></h5>
        </div>
        <!-- </div> -->
        <!-- <div class="col-md-6 text-right" *ngIf="this.refId !== 'add'"> -->
    </div>

    <div class="row">
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12 text-right">
        <button tabindex="17" class="submit-btn" mat-raised-button matSuffix aria-label="SAVE" color="primary"
        [disabled]="!complete" (click)="submit(updateForm.value)">
        <!-- [disabled]="!complete" (click)="uploader()"> -->
          <mat-icon>save</mat-icon> SAVE
        </button>
      </div>
      <div class="col-md-12">&nbsp;</div>
    </div> <!-- mat-icon-button -->

  </form>
</div>