<div class="col-md-12" *ngIf="payments">
  <div class="row">
    <div class="col-md-11 col-sm-11 col-xs-11">
      <h1>Payments</h1>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 text-right">
      <!-- <i routerLink="add" class="material-icons" style="font-size: 3em; cursor: pointer">add_box</i> -->
    </div>
  </div>

  <!-- <ul [@listStagger]="packages">
    <li *ngFor="let package of packages">
      <mat-card>
        <div class="row">
          <div class="col-md-9">
            <a>{{ package.name }}</a>
            <ul>
              <li><label class="font-weight-bold">Units</label> {{ package.unit }}</li>
              <li><label class="font-weight-bold">Price (RM)</label> {{ package.price }}</li>
            </ul>
          </div>
          <div class="col-md-3 text-right">
            <h1 *ngIf="package.locked == 0">
              <i class="text-right" routerLink="/view/{{ package.code }}" class="material-icons" style="font-size: 0.8em; cursor: pointer">visibility</i>
              &nbsp;
              <i *ngIf="shared.isHq" class="text-right" routerLink="{{ package.id }}" class="material-icons" style="font-size: 0.8em; cursor: pointer">edit</i>
              &nbsp;
              <i *ngIf="shared.isHq" (click)="removeItem(package.id, package.name);" class="material-icons" style="font-size: 0.8em; cursor: pointer">delete</i>
              &nbsp;
              <i *ngIf="package.active == 1" class="material-icons" style="font-size: 0.8em; color: green" title="Active">check_circle_outline</i>
              <i *ngIf="package.active == 0" class="material-icons" style="font-size: 0.8em; color: red" title="Inactive">highlight_off</i>
            </h1>
          </div>
        </div>
      </mat-card>
    </li>
  </ul> -->

  <mat-form-field class="full-width">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <mat-table class="full-width" [dataSource]="dataSource" matSort>
      <!-- num Column -->
      <ng-container matColumnDef="num">
          <!-- style="width: 5%" -->
        <mat-header-cell class="text-center noColumn" *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell class="text-center noColumn"  *matCellDef="let element; let i = index;">
          <!-- {{(shared.pageNum == 1) ? (i + 1) : shared.pageNum + (i + 1) }} -->
          {{ element.row+1 }}
        </mat-cell>
      </ng-container>

      <!-- ref_no Column -->
      <ng-container matColumnDef="ref_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Reference No </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.code}} {{ element.ref_no }} </mat-cell>
      </ng-container>

      <!-- contact_person Column -->
      <ng-container matColumnDef="contact_person">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Contact Person </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.contact_person }} </mat-cell>
      </ng-container>

      <!-- contact_no Column -->
      <ng-container matColumnDef="contact_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.contact_no }} </mat-cell>
      </ng-container>

      <!-- total_paid Column -->
      <ng-container matColumnDef="total_paid">
          <!-- style="width: 45%" -->
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Paid (RM) </mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-right"> {{element.total_paid}} </mat-cell>
      </ng-container>

      <!-- total_amt Column -->
      <ng-container matColumnDef="total_amt">
          <!-- style="width: 45%" -->
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Total (RM) </mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-right"> {{element.total_amt}} </mat-cell>
      </ng-container>

      <!-- balance Column -->
      <ng-container matColumnDef="balance">
          <!-- style="width: 45%" -->
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Balance (RM) </mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-right"> {{element.balance}} </mat-cell>
      </ng-container>

      <!-- travel_date Column -->
      <ng-container matColumnDef="travel_date">
          <!-- style="width: 45%" -->
        <mat-header-cell *matHeaderCellDef mat-sort-header> Travel Date </mat-header-cell>
          <mat-cell *matCellDef="let element" class="text-center">
          <!-- {{element.travel_date}} <br /> {{ element.timeLeft }} -->
          <span *ngIf="element.daysNo > 1" [ngClass]="{'font-weight-bold red-font':element.daysNo <= 30, '': element.daysNo > 30}"> {{element.travel_date}} <br /> {{ element.timeLeft }} </span>
          <span *ngIf="element.daysNo < 1" class="font-weight-bold"> {{element.travel_date}} <br />Done</span>
        </mat-cell>
      </ng-container>

      <!-- created_at Column -->
      <ng-container matColumnDef="created_at">
          <!-- style="width: 45%" -->
        <mat-header-cell *matHeaderCellDef mat-sort-header> Booking Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.created_at}} </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <!-- <ng-container matColumnDef="status">
        <mat-header-cell class="text-center statusColumn" *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell class="text-center statusColumn" *matCellDef="let element">
          <span *ngIf="element.status == 1" class="font-weight-bold" title="Payment Ongoing">Payment Ongoing</span>
          <span *ngIf="element.status == 2" class="green-font font-weight-bold" title="Paid Full">Paid Full</span>
          <span *ngIf="element.status == 3" class="red-font font-weight-bold" title="Closing Due">Closing Due</span>
        </mat-cell>
      </ng-container> -->

      <!-- created Column -->
      <!-- <ng-container matColumnDef="created">
        <mat-header-cell class="text-center date_col" *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell class="text-center date_col" *matCellDef="let element">
          {{ element.created_at }}
        </mat-cell>
      </ng-container> -->

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell class="text-center actionColumn" mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell class="text-center actionColumn" mat-cell *matCellDef="let element">
            <i *ngIf="userType == 4 && element.daysNo <= 60 && element.daysNo >= 1 && element.balance != 0.00" class="text-right" (click)="notify(element);" class="fas fa-paper-plane list-action-button"></i>
            <!-- &nbsp;
            <i *ngIf="element.balance == 0.00" routerLink="/protected/payment/{{ element.id }}" class="fas fa-receipt list-action-button"></i> -->
            <!-- &nbsp;&nbsp;
            <i routerLink="/protected/payment/{{ element.id }}" class="fas fa-handshake list-action-button"></i> -->
        </mat-cell>
      </ng-container>

      <!-- <ng-container *ngIf="payments.length == 0">
          <mat-row>No Data</mat-row>
      </ng-container> -->
      <!-- <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
            Loading..
        </mat-footer-cell>
      </ng-container>
       -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <!-- <mat-footer-row *matFooterRowDef="['loading']"></mat-footer-row> -->
    </mat-table>
    <div class="container text-center p-3"  *ngIf="payments.length === 0">
      No records found
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
