<div class="col-md-12" style="margin-left: 0%">
  <form [formGroup]="updateForm" autocomplete="off" role="form" novalidate>
  
    <div class="row">
      <div class="col-md-12">
        <button mat-button matSuffix mat-icon-button aria-label="Back" (click)="back('protected/agents')">
            <mat-icon>arrow_back</mat-icon>
        </button>
        &nbsp;
        <label class="lbl_main_header">{{ pageMode }} AGENT</label>
      </div>
      <div class="col-md-12">
        <mat-divider></mat-divider>
      </div>
    </div>
    <!-- {{ products | json }} -->

    <div class="row">
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12">
        <h5>USER DETAILS</h5>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-select tabindex="1" placeholder="User Type" [formControl]="usertype" required
            (change)="checkReqValues()">
            <mat-option *ngFor="let ut of usertypes" [value]="ut.id">{{ ut.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">&nbsp;</div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput tabindex="2" placeholder="Name" formControlName="name" required (change)="checkReqValues()">
          <button mat-button *ngIf="name.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('name')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.name.hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput tabindex="3" maxlength="12" placeholder="Identification Number" formControlName="icno" required
            (change)="checkReqValues()">
          <button mat-button *ngIf="icno.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('icno')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.icno.hasError('required')">
            Identification Number is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput tabindex="4" maxlength="12" placeholder="Contact Number" formControlName="contact_no" required
            (change)="checkReqValues()">
          <button mat-button *ngIf="contact_no.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="clear('contact_no')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.contact_no.hasError('required')">
            Contact Number is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput tabindex="5" placeholder="Email" formControlName="email" required (change)="checkReqValues()">
          <button mat-button *ngIf="email.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('email')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.email.hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="full-width">
          <textarea matInput tabindex="6" placeholder="Mailing Address" formControlName="address" required
            (change)="checkReqValues()"></textarea>
          <mat-error *ngIf="updateForm.controls.address.hasError('required')">
            Mailing Address is required
          </mat-error>
        </mat-form-field>
      </div>
      <!-- <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput tabindex="7" type="password" placeholder="{{ refId !== 'add'?'Change to a new Password':'Password' }}"
            formControlName="password" [required]="refId === 'add'" (change)="checkReqValues()">
          <button mat-button *ngIf="password.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="clear('password')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.password.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">&nbsp;</div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput tabindex="8" type="password" placeholder="{{ refId !== 'add'?'Change to a new Confirm Password':'Confirm Password' }}"
            formControlName="password_confirmation" [required]="refId === 'add'" (change)="checkReqValues()">
          <button mat-button *ngIf="password_confirmation.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="clear('password_confirmation')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="updateForm.controls.password_confirmation.hasError('required')">
            Password Confirmation is required
          </mat-error>
        </mat-form-field>
      </div> -->
      <div class="col-md-6">&nbsp;</div>
      
      <!-- BA -->
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12">
        <h5>BANKING DETAILS</h5>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-select tabindex="9" placeholder="Bank" [formControl]="bank_id" (change)="checkReqValues()" [required]="checkBankAccountDetails(bank_id.value)">
            <mat-option *ngFor="let b of banks" [value]="b.id">{{ b.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">&nbsp;</div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput tabindex="10" maxlength="16" placeholder="Account Number" formControlName="account_no" (change)="checkReqValues()" [required]="checkBankAccountDetails(account_no.value)">
          <button mat-button *ngIf="account_no.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('account_no')">
            <mat-icon>close</mat-icon>
          </button>
          <!-- <mat-error *ngIf="updateForm.controls.account_no.hasError('required')">
            Name is required
          </mat-error> -->
        </mat-form-field>
      </div>
      <div class="col-md-6">&nbsp;</div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput tabindex="11" placeholder="Account Holder" formControlName="holder_name" (change)="checkReqValues()" [required]="checkBankAccountDetails(holder_name.value)">
          <button mat-button *ngIf="holder_name.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('holder_name')">
            <mat-icon>close</mat-icon>
          </button>
          <!-- <mat-error *ngIf="updateForm.controls.account_no.hasError('required')">
            Name is required
          </mat-error> -->
        </mat-form-field>
      </div>
      <div class="col-md-6">&nbsp;</div>
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12">
        <mat-slide-toggle tabindex="12" formControlName="active" required [checked]="isActive == 1" (change)="checkReqValues">Active
        </mat-slide-toggle>
      </div>
      <!-- <div class="col-md-3">&nbsp;</div>
      <div class="col-md-6">&nbsp;</div> -->
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12 text-right" *ngIf="this.refId !== 'add'">
        <h5><span class="badge badge-secondary">Created: {{ created_at}}</span>
          &nbsp;
      <!-- </div> -->
      <!-- <div class="col-md-6 text-right" *ngIf="this.refId !== 'add'"> -->
        <span class="badge badge-secondary">Updated: {{ updated_at}}</span></h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12 text-right">
        <button tabindex="13" class="submit-btn" mat-raised-button matSuffix aria-label="SAVE" color="primary"
          [disabled]="!complete" (click)="submit(updateForm.value)">
          <mat-icon>save</mat-icon> SAVE
        </button>
      </div>
      <div class="col-md-12">&nbsp;</div>
    </div> <!-- mat-icon-button -->

  </form>
</div>