<div class="hover_bkgr_fricc" *ngIf="shared.loader">
  <span class="helper"></span>
  <div>
    <mat-spinner color="accent"></mat-spinner>
  </div>
</div>
<div id="content" style="height: 100%; background: #FFF">
<!-- <div id="content" [ngClass]="{'body-bg-grey': shared.isView, 'body-bg-white': !shared.isView}"> -->
  <!-- <app-login></app-login> -->
  <router-outlet></router-outlet>
</div>