<nav>
  <ul>
    <li class="animated bounceInUp">
      <a routerLink="dashboard" title="Home">
        <i [class.activated]="currentUrl == 'dashboard'" class="material-icons">dashboard</i>
      </a>
    </li>
    <li class="animated bounceInUp">
      <a routerLink="profile" title="My Profile">
        <i [class.activated]="currentUrl == 'profile'" class="material-icons">account_circle</i>
      </a>
    </li>
    <!-- <li class="animated bounceInUp">
      <a routerLink="messages" [class.activated]="currentUrl == 'messages'">
        <i class="material-icons">feedback</i>
      </a>
    </li> -->
    <!-- <li class="animated bounceInUp" *ngIf="isSupAdm">
      <a routerLink="company" [class.activated]="currentUrl == 'company'">
        <i class="material-icons">business</i>
      </a>
    </li> -->
    <li class="animated bounceInUp" *ngIf="shared.u_type == 1 || shared.u_type == 2">
      <a routerLink="users" title="Users">
        <i [class.activated]="currentUrl == 'users'" class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li class="animated bounceInUp" *ngIf="shared.u_type == 1 || shared.u_type == 2 || shared.u_type == 6">
      <a routerLink="agents" title="Agents">
        <i [class.activated]="currentUrl == 'agents'" class="fas fa-user-friends"></i>
      </a>
    </li>
    <li class="animated bounceInUp" *ngIf="shared.u_type == 1 || shared.u_type == 2">
      <a routerLink="includes" title="Package Includes">
        <i [class.activated]="currentUrl == 'includes'" class="fas fa-tags"></i>
      </a>
    </li>
    <li class="animated bounceInUp" *ngIf="shared.u_type == 1 || shared.u_type == 2">
      <a routerLink="commissionconfig" title="Commission Configs">
        <i [class.activated]="currentUrl == 'commissionconfig'" class="fas fa-users-cog"></i>
      </a>
    </li>
    <li class="animated bounceInUp">
      <a routerLink="package" title="Packages">
        <!-- <i class="material-icons">local_offer</i> -->
        <i [class.activated]="currentUrl == 'package'" class="fas fa-map-marked-alt"></i>
      </a>
    </li>
    <li class="animated bounceInUp">
      <a routerLink="booking" title="Bookings">
        <!-- <i class="material-icons">book</i> -->
        <i [class.activated]="currentUrl == 'booking'" class="fas fa-calendar-alt"></i>
      </a>
    </li>
    <li class="animated bounceInUp">
      <a routerLink="payment" title="Payments">
        <i [class.activated]="currentUrl == 'payment'" class="fas fa-money-bill-wave"></i>
      </a>
    </li>
    <li class="animated bounceInUp">
      <a routerLink="commission" title="Commissions">
        <i [class.activated]="currentUrl == 'commission'" class="fas fa-handshake"></i>
      </a>
    </li>
    <li class="animated bounceInUp" *ngIf="creator">
      <a routerLink="report" title="Report">
        <i [class.activated]="currentUrl == 'report'" class="fas fa-chart-bar font-weight-bold"></i>
      </a>
    </li>
    <li class="animated bounceInUp" style="cursor: pointer">
      <a  routerLink="resetpassword" title="Reset Password">
        <i [class.activated]="currentUrl == 'resetpassword'" class="fas fa-key"></i>
      </a>
    </li>
    <!-- <li class="animated bounceInUp">
      <a routerLink="feedback" [class.activated]="currentUrl == 'feedback'">
        <i class="material-icons">help</i>
      </a>
    </li> -->
    <li class="animated bounceInUp" (click)="userLogout()" style="cursor: pointer">
      <a>
        <i class="material-icons">exit_to_app</i>
      </a>
    </li>
  </ul>
</nav>