html {
    background: #2d2e2e;
    height: 100%;
}

body {
    background: #2d2e2e;
    min-height: 100%;
}

nav {
    background: #2d2e2e;
    height: 100%;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 100%;
        // position: absolute;

        li {
            a {
                color: #FFF;
                padding: 20px;
                display: block;
                text-align: center;
            }

            .activated {
                color: yellow;
            }
        }
    }
}