<div class="container">
  <form [formGroup]="form" class="form-signin text-center" autocomplete="off" role="form">
    <!-- <img src="assets/images/small_gtah.png" class="img-fluid" alt="Responsive image"> -->
    <!-- <h1 *ngIf="common.isLogin" class="h3 mb-3 font-weight-normal">Welcome, {{ name }}!</h1> -->
    <h1 class="h3 mb-3 mt-3 font-weight-normal text-left">Forgot Password</h1>
    <label for="username" class="sr-only">Email address</label>
    <mat-form-field class="full-width">
      <input matInput type="text" value="" formControlName="username" (blur)="validateUsername(username.value)"
        placeholder="Email Address" required>
        <mat-error *ngIf="form.controls.username.hasError('required')">
          Email address is required
        </mat-error>
        <mat-error *ngIf="form.controls.username.hasError('email') && !form.controls.username.hasError('required')">
          Please enter a valid email address
        </mat-error>
    </mat-form-field>
  
    <!-- <label for="password" class="sr-only">Password</label>
    <mat-form-field class="full-width">
      <input matInput type="password" formControlName="password" placeholder="Password" required>
      <mat-error *ngIf="form.controls.password.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>
    <label for="password_confirmation" class="sr-only">Password Confirmation</label>
    <mat-form-field class="full-width">
      <input matInput type="password" formControlName="password_confirmation" placeholder="Password Confirmation" required>
      <mat-error *ngIf="form.controls.password_confirmation.hasError('required')">
        Password Confirmation is required
      </mat-error>
    </mat-form-field> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit"
      (click)="submit(form.value)">Submit</button>
    <p class="mt-5 mb-3 text-muted">GTAH Tours Sdn. Bhd. © 2019</p>
  </form>
  </div>