<div class="col-md-12" *ngIf="products">
  <div class="row">
    <div class="col-md-11 col-sm-11 col-xs-11">
      <h1>Products</h1>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 text-right">
      <i routerLink="/product/add" class="material-icons" style="font-size: 3em; cursor: pointer">add_box</i>
    </div>
  </div>

  <ul [@listStagger]="products">
    <li *ngFor="let product of products">
      <mat-card>
        <div class="row">
          <div class="col-md-9">
            <a>{{ product.name }}</a>
            <ul>
              <li><label class="font-weight-bold">Units</label> {{ product.unit }}</li>
              <li><label class="font-weight-bold">Cost (RM)</label> {{ product.cost_price }}</li>
              <li><label class="font-weight-bold">Price (RM)</label> {{ product.sale_price }}</li>
              <!-- <li><a href="http://{{ product.name }}">{{ product.name }}</a></li> -->
            </ul>
          </div>
          <div class="col-md-3 text-right">
            <h1>
              <i class="text-right" routerLink="/product/{{ product.id }}" class="material-icons" style="font-size: 0.8em; cursor: pointer">edit</i>
              &nbsp;
              <i (click)="removeItem(product.id, product.name);" class="material-icons" style="font-size: 0.8em; cursor: pointer">delete</i>
              &nbsp;
              <i *ngIf="product.active == 1" class="material-icons" style="font-size: 0.8em; color: green" title="Active">check_circle_outline</i>
              <i *ngIf="product.active == 0" class="material-icons" style="font-size: 0.8em; color: red" title="Inactive">highlight_off</i>
            </h1>
          </div>
        </div>
      </mat-card>
    </li>
  </ul>
</div>