<div class="col-md-12" *ngIf="commissions">
  <div class="row">
    <div class="col-md-11 col-sm-11 col-xs-11">
      <h1>Commissions</h1>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 text-right">
      <!-- <i routerLink="add" class="material-icons" style="font-size: 3em; cursor: pointer">add_box</i> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-2">
      <mat-form-field class="full-width">
        <mat-select placeholder="Select Month" [(ngModel)]="monthVal" (selectionChange)="monthSel($event.value)">
          <mat-option *ngFor="let mon of shared.monthSelArr" [value]="mon.value">
            {{mon.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="full-width">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="col-md-7">&nbsp;</div>
  </div>

  <div class="col-md-12">
    <label class="lbl_title_s font-weight-bold">Agents</label>
    <mat-divider></mat-divider>
  </div>

  <div class="mat-elevation-z8">
    <mat-table class="full-width" [dataSource]="dataSource" matSort>
      <!-- num Column -->
      <ng-container matColumnDef="num">
          <!-- style="width: 5%" -->
        <mat-header-cell class="text-center noColumn" *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell class="text-center noColumn"  *matCellDef="let element; let i = index;">
          <!-- {{(shared.pageNum == 1) ? (i + 1) : shared.pageNum + (i + 1) }} -->
          {{ element.row+1 }}
        </mat-cell>
      </ng-container>

      <!-- ref_no Column -->
      <ng-container matColumnDef="ref_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Reference No </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.code}} {{ element.ref_no }} </mat-cell>
      </ng-container>

      <!-- name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <!-- contact_no Column -->
      <ng-container matColumnDef="contact_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.contact_no }} </mat-cell>
      </ng-container>

      <!-- amount Column -->
      <ng-container matColumnDef="amount">
          <!-- style="width: 45%" -->
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Amount (RM) </mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-right"> {{element.amount}} </mat-cell>
      </ng-container>

      <!-- pay_status Column -->
      <ng-container matColumnDef="pay_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngIf="element.pay_status == 0 && element.user_id == 2 ||  element.pay_status == 0 && element.user_id == 26" class="font-weight-bold" title="Uncleared">-</span>
          <span *ngIf="element.pay_status == 1 && element.user_id == 2 ||  element.pay_status == 1 && element.user_id == 26" class="green-font font-weight-bold" title="Cleared">-</span>
          <span *ngIf="element.pay_status == 0 && element.user_id != 2 &&  element.user_id != 26" class="font-weight-bold" title="Unpaid">Unpaid</span>
          <span *ngIf="element.pay_status == 1 && element.user_id != 2 &&  element.user_id != 26" class="green-font font-weight-bold" title="Paid">Paid</span>
          <span *ngIf="element.pay_status == 2" class="red-font font-weight-bold" title="Over Due">Over Due</span>
        </mat-cell>
      </ng-container>
      
      <!-- booking_status Column -->
      <ng-container matColumnDef="booking_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Booking Status </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span *ngIf="element.status == 1" class="font-weight-bold" title="Payment Ongoing">Payment Ongoing</span>
            <span *ngIf="element.status == 2" class="green-font font-weight-bold" title="Paid Full">Paid Full</span>
            <span *ngIf="element.status == 3" class="red-font font-weight-bold" title="Cancelled">Cancelled</span>
        </mat-cell>
      </ng-container>

      <!-- created_at Column -->
      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="date_col"> Booking Date </mat-header-cell>
        <mat-cell class="date_col" *matCellDef="let element">
          {{ element.created_at }}
        </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell class="text-center actionColumn" mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell class="text-center actionColumn" mat-cell *matCellDef="let element">
            <!-- <i *ngIf="element.agent_status == 1" href="element.pop" target="_blank" class="fas fa-receipt list-action-button"></i>
            &nbsp;&nbsp; -->
            <i *ngIf="shared.isHq && element.user_id != 2 && element.user_id != 26 && element.pay_status == 0" (click)="openDialog(element,'agent')" class="fas fa-handshake list-action-button"></i>
            <i *ngIf="element.pay_status == 1" (click)="viewReceipt(element.id,'egt')" class="fas fa-receipt list-action-button"></i>
            <!-- Temporary disabled -->
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="container text-center p-3"  *ngIf="commissions.length === 0">
      No records found
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <div *ngIf="shared.isHq" class="col-md-12">&nbsp;</div>

  <div *ngIf="shared.isHq && egtcommission" class="col-md-12">
    <label class="lbl_title_s font-weight-bold">EGT</label>
    <mat-divider></mat-divider>
  </div>

  <div *ngIf="shared.isHq" class="mat-elevation-z8">
    <mat-table class="full-width" [dataSource]="dataSource1" matSort>
      <!-- num Column -->
      <ng-container matColumnDef="num">
          <!-- style="width: 5%" -->
        <mat-header-cell class="text-center noColumn" *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell class="text-center noColumn"  *matCellDef="let element; let i = index;">
          <!-- {{(shared.pageNum == 1) ? (i + 1) : shared.pageNum + (i + 1) }} -->
          {{ element.row+1 }}
        </mat-cell>
      </ng-container>

      <!-- ref_no Column -->
      <ng-container matColumnDef="ref_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Reference No </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.code}} {{ element.ref_no }} </mat-cell>
      </ng-container>

      <!-- amount Column -->
      <ng-container matColumnDef="amount">
          <!-- style="width: 45%" -->
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Amount (RM) </mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-right"> {{element.amount}} </mat-cell>
      </ng-container>

      <!-- pay_status Column -->
      <ng-container matColumnDef="pay_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Status </mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-center">
          <span *ngIf="element.pay_status == 0 && element.user_id == 2 ||  element.pay_status == 0 && element.user_id == 26" class="font-weight-bold" title="Uncleared">-</span>
          <span *ngIf="element.pay_status == 1 && element.user_id == 2 ||  element.pay_status == 1 && element.user_id == 26" class="green-font font-weight-bold" title="Cleared">-</span>
          <span *ngIf="element.pay_status == 0 && element.user_id != 2 &&  element.user_id != 26" class="font-weight-bold" title="Unpaid">Unpaid</span>
          <span *ngIf="element.pay_status == 1 && element.user_id != 2 &&  element.user_id != 26" class="green-font font-weight-bold" title="Paid">Paid</span>
          <span *ngIf="element.pay_status == 2" class="red-font font-weight-bold" title="Over Due">Over Due</span>
        </mat-cell>
      </ng-container>

      <!-- created_at Column -->
      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="date_col actionColumn"> Booking Date </mat-header-cell>
        <mat-cell class="date_col actionColumn" *matCellDef="let element">
          {{ element.created_at }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
    </mat-table>
    <div class="container text-center p-3"  *ngIf="commissions.length == 0">
      No records found
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <div *ngIf="shared.isHq" class="col-md-12">&nbsp;</div>

  <div *ngIf="shared.isHq" class="row">
    <div *ngIf="shared.isHq" class="col-md-8">&nbsp;</div>

    <div *ngIf="shared.isHq && egtcommission.total" class="col-md-4">
      <mat-card>
        <mat-list>
          <mat-list-item>
            <h3 mat-line class="font-weight-bold">Amount</h3>&nbsp;&nbsp;<h5>{{ egtcommission.commission_total[0].amount }}</h5>&nbsp;&nbsp;
            <!-- <i *ngIf="shared.isHq" (click)="openDialog(egtcommission.commission_total[0],'egt')" class="fas fa-handshake list-action-button"></i> -->
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>

  <div *ngIf="shared.isHq" class="col-md-12">&nbsp;</div>

</div>
