<div class="container" style="color: #1d1d1d">
    <!-- {{ data | json }} -->
    <form [formGroup]="updateForm" autocomplete="off" role="form" novalidate>


        <div class="row">
            <div class="col-md-12">
                <label class="lbl_title_s font-weight-bold">Payment Amount</label>
                <mat-divider></mat-divider>
            </div>

            <div class="col-md-6">
                <mat-form-field class="full-width mt-2">
                    <input matInput tabindex="1" placeholder="Payment Amount (RM)" formControlName="pay_amt" autocomplete="off" readonly>
                    <mat-error *ngIf="updateForm.controls.pay_amt.hasError('required')">
                        Paid Amount is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="full-width mt-2">
                    <input matInput tabindex="2" placeholder="Payment Reference" formControlName="reference" autocomplete="off">
                    <mat-hint class="font-weight-bold">Optional</mat-hint>
                </mat-form-field>
            </div>
        </div>

        <!-- <div class="col-md-9">&nbsp;</div> -->
        <!-- <div class="col-md-12">&nbsp;</div> -->


        <!-- <div class="col-md-6">
        <ul *ngFor="let p of payments" class="mt-2">
            <li>{{ p.updated_at }}, RM {{ p.paid_amt }}</li>
        </ul>
        <span *ngIf="payments.length === 0">-</span>
    </div> -->


        <div class="row">
            <div class="col-md-12">&nbsp;</div>
            
            <div class="col-md-12">
                <label class="lbl_title_s font-weight-bold">Banking Details</label>
                <mat-divider></mat-divider>
                <p style="margin-bottom: 0"><strong>Account Holder </strong>{{ data.holder_name }}</p>
                <p style="margin-bottom: 0"><strong>Account Number </strong>{{ data.account_no }}</p>
                <p style="margin-bottom: 0"><strong>Bank Name </strong>{{ data.bankname }}</p>
            </div>

            <div class="col-md-12">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="lbl_title_s font-weight-bold">Attachments</label>
                <mat-divider></mat-divider>
            </div>

            <div class="col-md-12">&nbsp;</div>

            <div class="col-md-12">
                <mat-form-field class="full-width" style="margin-bottom: 3%">
                    <input tabindex="3" matInput placeholder="Proof of Payment" formControlName="paymentFile"
                        maxlength="100" readonly>
                    <button mat-button *ngIf="paymentFile.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="removeAllImage(refId, 'paymentFile')">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-hint class="font-weight-bold">Optional.<br />File(s) size must not exceed 5MB.</mat-hint>
                </mat-form-field>
                <ng4-files-click (filesSelect)="paymentFileSelect($event)"> <!-- [configId]="testConfig" -->
                    <span role="button" class="btn btn-info">Upload</span>
                </ng4-files-click>
            </div>

            <div class="col-md-12">&nbsp;</div>

            <div *ngIf="paymentFile" class="col-md-12">
                <ul id="horizontal-list">
                    <li *ngFor="let img of paymentMedia; let i = index">
                        <div class="imgUploaded" title="{{ img.name }}">
                            <img class="image" src="{{urlStorage}}/payment/{{ refId }}/{{ img.name }}"
                                style="cursor: zoom-in;" (click)="openDialog(img.name,refId, 'payment')" width="auto"
                                height="100" />
                            <div class="middle">
                                <div class="text">
                                    <i class="text-right" class="material-icons" style="font-size: 0.5em;"
                                        (click)="removeImage(img.id, img.name)">clear</i>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- <div class="col-md-12">&nbsp;</div>
  
            <div *ngIf="paymentMedia" class="col-md-12">
              <ul id="horizontal-list">
                  <li *ngFor="let img of paymentMedia; let i = index" style="padding-right: 20px">
                    <div class="imgUploaded" title="{{ img.name }}">
                        <img *ngIf="img.code == 'image'" class="image" src="{{urlStorage}}/payment/{{ refId }}/{{ img.name }}" style="cursor: zoom-in;" (click)="openDialog(img.name,refId, 'payment')" width="auto" height="100" />
                        <i *ngIf="img.code == 'pdf'" class="fas fa-file-pdf" style="font-size: 4rem" (click)="goTo('/payment/'+refId+'/'+img.name)"></i>
                        <i *ngIf="img.code == 'word'" class="fas fa-file-word" style="font-size: 4rem" (click)="goTo('/payment/'+refId+'/'+img.name)"></i>
                        <div *ngIf="pageMode == 'ADD' || pageMode == 'EDIT'" class="middle">
                          <div class="text">
                            <i class="fas fa-times text-right" style="font-size: 0.5em; text-shadow: 3px 5px 2px #474747" (click)="removeImage(img.id, img.name)" title="Delete {{ img.name }}"></i>
                          </div>
                        </div>
                      </div>
                  </li>
              </ul>
            </div>
            <div *ngIf="paymentMedia.length == 0" class="col-md-12">
              No file uploaded!
            </div> -->
        </div>

        <div class="row">
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-12 text-right">
                <button tabindex="9" class="submit-btn" mat-raised-button matSuffix aria-label="SAVE" color="warn" (click)="onNoClick()">
                    <i class="fas fa-times"></i> CLOSE
                </button>
                &nbsp;&nbsp;
                <button tabindex="9" class="submit-btn" mat-raised-button matSuffix aria-label="SAVE" color="primary" (click)="submit(updateForm.value)">
                    <mat-icon>save</mat-icon> SAVE
                </button>
            </div>
            <div class="col-md-12">&nbsp;</div>
        </div>

    </form>
</div>