<div class="col-md-12">
  <div class="row">
    <div class="col-sm-12 col-xl-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <mat-list>
        <img src="assets/images/small_gtah.png" alt="Responsive image" style="width: 100%; height: auto;">
      </mat-list>
    </div>
    <div class="col-sm-10 col-xl-10 col-lg-9 col-md-9 col-sm-10 col-xs-10">
      <mat-list>
        <h5 *ngIf="shared.u_type != 1" class="font-weight-lighter">Welcome, <strong>{{ name }}</strong> of
          {{ company?.name }} !</h5>
        <h5 *ngIf="shared.u_type == 1" class="font-weight-lighter">Welcome, <strong>{{ name }}</strong> of EGT SDN BHD !
        </h5>
        <!-- of <strong>{{ company?.name }}</strong> -->
        <label>{{ email }}</label><br />
        <label class="font-weight-bold" *ngIf="shared.u_type == 1">Admin</label>
        <label class="font-weight-bold" *ngIf="shared.u_type == 2">Headquaters</label>
        <label class="font-weight-bold" *ngIf="shared.u_type == 5">Headquaters: Finance</label>
        <label class="font-weight-bold" *ngIf="shared.u_type == 6">Headquaters: Staff</label>
        <label class="font-weight-bold" *ngIf="shared.u_type == 7">Headquaters: Operations</label>
        <label class="font-weight-bold" *ngIf="shared.u_type == 4">Agent</label>
      </mat-list>
    </div>
    <div class="col-md-12">
      <mat-divider></mat-divider>
    </div>
    <div class="col-md-12">&nbsp;</div>
    <!-- <div class="col-md-1 col-xs-1 col-sm-1 text-right">
      <i routerLink="/protected/package/add" class="material-icons" style="font-size: 3em; cursor: pointer">add_box</i>
    </div> -->
  </div>
  <div class="row">

    <!-- Monthly Transactions By Packages -->
    <div *ngIf="shared.u_type != 4 && barChartData.length != 0" class="col-xs-12 col-sm-12 col-md-6">
      <mat-card>
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title class="font-weight-bold">Monthly Top 10 Transactions By Packages</mat-card-title>
        </mat-card-header>

        <!-- chart here -->
        <canvas *ngIf="barChartData.length != 0" baseChart [datasets]="barChartData" [labels]="barChartLabels"
          [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [colors]="lineChartColors"
          [chartType]="barChartType">
        </canvas>
      </mat-card>
    </div>

    <div class="d-md-none d-lg-none">&nbsp;</div>

    <!-- Current Month Transactions By Agent -->
    <div *ngIf="shared.u_type != 4 && lineChartData.length != 0" class="col-xs-12 col-sm-12 col-md-6">
      <mat-card>
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title class="font-weight-bold">Current Month Transactions By Top 10 Agent</mat-card-title>
        </mat-card-header>

        <!-- chart here -->
        <canvas *ngIf="lineChartData.length != 0" baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
          [options]="lineChartOptions" [plugins]="lineChartPlugins" [legend]="lineChartLegend"
          [colors]="lineChartColors" [chartType]="lineChartType">
        </canvas>
      </mat-card>
    </div>

    <div *ngIf="shared.u_type != 4" class="col-md-12">&nbsp;</div>

    <div class="col-md-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="font-weight-bold">Previous Month ({{ previousMonth }}) Top 3 Agents </mat-card-title>
        </mat-card-header>
        <p style="text-transform: uppercase; font-weight: 400; text-align: center; width: 100%; font-size: 1em">
          <i class="fas fa-star" style="color: gold; text-shadow: 1px 1px #333; font-size: 1.3em"></i>
          {{ previousTopAgents[0]?.name }}&nbsp;&nbsp;
          <i class="fas fa-star" style="color: silver; text-shadow: 1px 1px #333; font-size: 1.3em"></i>
          {{ previousTopAgents[1]?.name }}&nbsp;&nbsp;
          <i class="fas fa-star" style="color: brown; text-shadow: 1px 1px #333; font-size: 1.3em"></i> {{ previousTopAgents[2]?.name }}</p>
      </mat-card>
    </div>

    <div class="col-md-12">&nbsp;</div>

    <!-- Current Month Agents By Performance -->

    <div *ngIf="hbarChartData[0]?.data.length > 0" class="col-xs-12 col-sm-12 col-md-6">
      <mat-card>
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title class="font-weight-bold">Current Month Top 10 Agents By Performance (Bar)</mat-card-title>
        </mat-card-header>

        <!-- chart here -->
        <canvas *ngIf="hbarChartData[0]?.data.length > 1" baseChart [datasets]="hbarChartData" [labels]="hbarChartLabels"
          [options]="hbarChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [colors]="lineChartColors"
          [chartType]="hbarChartType">
          <!-- (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"> -->
        </canvas>
      </mat-card>
    </div>

    <div class="d-md-none d-lg-none">&nbsp;</div>

    <div *ngIf="userReport" class="col-xs-12 col-sm-12 col-md-6">
      <mat-card>
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title class="font-weight-bold">Sales & Commission Overview</mat-card-title>
        </mat-card-header>

        <ul class="list-group">
          <li class="list-group-item font-weight-lighter text-center">Total Sales (RM)<h4 style="color: #dc3545" class="font-weight-bold">{{ userReport.overallSales }}</h4></li>
          <li class="list-group-item font-weight-lighter text-center">Total Commissions (RM)<h4 style="color: #ffc107" class="font-weight-bold">{{ userReport.overallCommission }}</h4></li>
          <li class="list-group-item font-weight-lighter text-center">Current Month Sales (RM)<h4 style="color: #20c997" class="font-weight-bold">{{ userReport.currentMonthSales }}</h4></li>
          <li class="list-group-item font-weight-lighter text-center">Current Month Commissions (RM)<h4 style="color: #007bff" class="font-weight-bold">{{ userReport.currentMonthCommission }}</h4></li>
        </ul>
      </mat-card>
    </div>

    <!-- <div *ngIf="shared.u_type != 4 && lineChartData1.length != 0" class="col-xs-12 col-sm-12 col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="font-weight-bold">Current Month Top 10 Agents By Performance (Line)</mat-card-title>
        </mat-card-header>

        <canvas *ngIf="lineChartData1.length != 0" baseChart [datasets]="lineChartData1" [labels]="lineChartLabels"
          [options]="lineChartOptions1" [plugins]="lineChartPlugins" [legend]="lineChartLegend"
          [colors]="lineChartColors" [chartType]="lineChartType">
        </canvas>
      </mat-card>
    </div> -->

    <div *ngIf="lineChartData1.length != 0" class="col-md-12">&nbsp;</div>

    <div class="col-md-12" *ngIf="lineChartData1.length != 0">
      <mat-divider></mat-divider>
    </div>

    <div class="col-md-12">&nbsp;</div>

    <div class="col-md-12">
      <mat-card>
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title class="font-weight-bold">TOP 10 Packages
            <!-- &nbsp;
              <i *ngIf="shared.u_type == 1 || shared.u_type == 2" routerLink="/protected/package/add" class="material-icons" style="vertical-align: middle; font-size: 1.5em; cursor: pointer">add_box</i> -->
          </mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>

        <table class="table table-striped" style="width: 100%">
          <thead>
            <tr>
              <th scope="col" style="width: 5%">No.</th>
              <th scope="col">Name</th>
              <th scope="col">Travel Date</th>
              <th scope="col">Return Date</th>
              <th scope="col" style="width: 10%; text-align: center">Units</th>
              <!-- <th scope="col">Total</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let package of packages; let i = index;">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ package.name }}</td>
              <td>{{ package.travel_date }}</td>
              <td>{{ package.return_date }}</td>
              <td class="font-weight-bold" style="width: 10%; text-align: center">
                <span *ngIf="package.unit != 0  && package.unit > 0" class="red-font" style="background: yellow">SELLING FAST</span>
                <!-- <span *ngIf="package.unit != 0  && package.unit <= 10">{{ package.unit }}</span> -->
                <span *ngIf="package.unit == 0" class="maroon-font">FULL</span>
              </td>
            </tr>
            <tr>
              <td colspan="1">&nbsp;</td>
              <td colspan="4" class="text-right"><strong>Total Registered Packages:</strong> {{ packages.total }}</td>
            </tr>
          </tbody>
        </table>

      </mat-card>
    </div>

    <div class="col-md-12" *ngIf="shared.u_type == 1 || shared.u_type == 2">&nbsp;</div>

    <div class="col-md-12" *ngIf="shared.u_type == 1 || shared.u_type == 2">
      <mat-card>
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title class="font-weight-bold">TOP 5 New Agents
            <!-- &nbsp;
            <i routerLink="/agents/add" class="material-icons" style="vertical-align: middle; font-size: 1.5em; cursor: pointer">add_box</i> -->
          </mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>

        <table class="table table-striped" style="width: 100%">
          <thead>
            <tr>
              <th scope="col" style="width: 5%">No.</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col" style="width: 15%; text-align: right">Since</th>
            </tr>
          </thead>
          <tbody *ngIf="agents.length > 0">
            <tr *ngFor="let agent of agents; let i = index;">
              <th scope="row">{{ i+1 }}</th>
              <td *ngIf="agent.name.length > 20" title="{{ agent.name }}">{{ agent.name | slice:0:20 }}..</td>
              <td *ngIf="agent.name.length <= 20">{{ agent.name }}</td>
              <td *ngIf="agent.email.length > 20" title="{{ agent.email }}">{{ agent.email | slice:0:20 }}..</td>
              <td *ngIf="agent.email.length <= 20">{{ agent.email }}</td>
              <td style="width: 15%; text-align: right">{{ agent.created_at }}</td>
            </tr>
            <tr>
              <td colspan="2">&nbsp;</td>
              <td colspan="2" class="text-right"><strong>Total Registered Agents:</strong> {{ totalAgents }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="agents.length === 0">
            <tr>
              <td>No records found</td>
            </tr>
          </tbody>
        </table>

      </mat-card>
    </div>

    <div class="col-md-12" *ngIf="shared.u_type == 1 || shared.u_type == 2">&nbsp;</div>

    <div class="col-md-12" *ngIf="shared.u_type == 1 || shared.u_type == 2 && hqcommission">
      <mat-card>
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title class="font-weight-bold">TOP 5 HQ</mat-card-title>
          <!-- &nbsp;
              <i routerLink="/protected/package/add" class="material-icons" style="vertical-align: middle; font-size: 1.5em; cursor: pointer">add_box</i></mat-card-title> -->
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>

        <table class="table table-striped" style="width: 100%">
          <thead>
            <tr>
              <th scope="col" style="width: 5%">No.</th>
              <th scope="col">Ref No</th>
              <th scope="col" style="width: 10%; text-align: right">Amount</th>
              <!-- <th scope="col">Status</th> -->
              <th scope="col" style="width: 15%; text-align: right">Booking Date</th>
              <!-- <th scope="col">Total</th> -->
            </tr>
          </thead>
          <tbody *ngIf="hqcommission.length > 0">
            <tr *ngFor="let hq of hqcommission; let i = index;">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ hq.code }} {{ hq.ref_no }}</td>
              <td style="width: 10%; text-align: right">{{ hq.amount }}</td>
              <!-- <td>{{ hq.hq_status }}</td> -->
              <td style="width: 15%; text-align: right">{{ hq.created_at }}</td>
              <!-- <td>{{ product.total }}</td> -->
            </tr>
            <tr *ngIf="shared.u_type == 1 || shared.u_type == 2">
              <td colspan="5" class="text-right"><strong>Current Month Total Amount (RM):</strong>
                {{ hqcommission.total }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="hqcommission.length === 0">
            <tr>
              <td class="text-center" colspan="6">No records found</td>
            </tr>
          </tbody>
        </table>

      </mat-card>
    </div>

    <div class="col-md-12">&nbsp;</div>

    <div class="col-md-12" *ngIf="agentcommission">
      <mat-card>
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title class="font-weight-bold">TOP 5 Agents' Commissions</mat-card-title>
          <!-- &nbsp;
              <i routerLink="/protected/package/add" class="material-icons" style="vertical-align: middle; font-size: 1.5em; cursor: pointer">add_box</i></mat-card-title> -->
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>

        <table class="table table-striped" style="width: 100%">
          <thead>
            <tr>
              <th scope="col" style="width: 5%">No.</th>
              <th scope="col">Ref No</th>
              <th *ngIf="shared.u_type == 1 || shared.u_type == 2" scope="col">Name</th>
              <th scope="col" style="width: 10%; text-align: right">Amount</th>
              <th scope="col" style="width: 10%; text-align: center">Status</th>
              <th scope="col" style="width: 15%; text-align: right">Booking Date</th>
              <!-- <th scope="col">Total</th> -->
            </tr>
          </thead>
          <tbody *ngIf="agentcommission.length > 0">
            <tr *ngFor="let agent of agentcommission; let i = index;">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ agent.code }} {{ agent.ref_no }}</td>
              <td *ngIf="shared.u_type == 1 || shared.u_type == 2">{{ agent.name }}</td>
              <td style="width: 10%; text-align: right">{{ agent.amount }}</td>
              <td style="width: 10%; text-align: center">
                <span *ngIf="agent.pay_status == 0" class="font-weight-bold" title="Unpaid">Unpaid</span>
                <span *ngIf="agent.pay_status == 1" class="green-font font-weight-bold" title="Paid">Paid</span>
                <span *ngIf="agent.pay_status == 2" class="red-font font-weight-bold" title="Over Due">Over Due</span>
              </td>
              <td style="width: 15%; text-align: right">{{ agent.created_at }}</td>
              <!-- <td>{{ product.total }}</td> -->
            </tr>
            <tr *ngIf="shared.u_type == 1 || shared.u_type == 2">
              <td colspan="2" class="text-right"><strong>Current Month Total Amount (RM):</strong>
                {{ agentcommission.total }}</td>
              <td colspan="2" class="text-right "><strong>Paid Amount (RM):&nbsp;</strong>
                <span class="green-font">{{ agentcommission.paid }}</span></td>
              <td colspan="2" class="text-right"><strong>Unpaid Amount (RM):&nbsp;</strong>
                <span class="red-font">{{ agentcommission.unpaid }}</span></td>
            </tr>
          </tbody>
          <tbody *ngIf="agentcommission.length === 0">
            <tr>
              <td class="text-center" colspan="6">No records found</td>
            </tr>
          </tbody>
        </table>

      </mat-card>
    </div>

    <div class="col-md-12" *ngIf="shared.u_type == 1 || shared.u_type == 2">&nbsp;</div>

    <!-- <div class="col-md-12">&nbsp;</div>  -->

    <div class="col-md-12" *ngIf="shared.u_type == 1 || shared.u_type == 2 && etgcommission">
      <mat-card>
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title class="font-weight-bold">TOP 5 EGT Commissions</mat-card-title>
          <!-- &nbsp;
              <i routerLink="/protected/package/add" class="material-icons" style="vertical-align: middle; font-size: 1.5em; cursor: pointer">add_box</i></mat-card-title> -->
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>

        <table class="table table-striped" style="width: 100%">
          <thead>
            <tr>
              <th scope="col" style="width: 5%">No.</th>
              <th scope="col">Ref No</th>
              <th scope="col" style="width: 10%; text-align: right">Amount</th>
              <!-- <th scope="col">Status</th> -->
              <th scope="col" style="width: 10%; text-align: center">Status</th>
              <th scope="col" style="width: 15%; text-align: right">Booking Date</th>
              <!-- <th scope="col">Total</th> -->
            </tr>
          </thead>
          <tbody *ngIf="etgcommission.length > 0">
            <tr *ngFor="let etg of etgcommission; let i = index;">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ etg.code }} {{ etg.ref_no }}</td>
              <td style="width: 10%; text-align: right">{{ etg.amount }}</td>
              <td style="width: 10%; text-align: center">
                <span *ngIf="etg.pay_status == 0" class="font-weight-bold" title="Unpaid">Unpaid</span>
                <span *ngIf="etg.pay_status == 1" class="green-font font-weight-bold" title="Paid">Paid</span>
                <span *ngIf="etg.pay_status == 2" class="red-font font-weight-bold" title="Over Due">Over Due</span>
              </td>
              <td style="width: 15%; text-align: right">{{ etg.created_at }}</td>
              <!-- <td>{{ product.total }}</td> -->
            </tr>
            <tr *ngIf="shared.u_type == 1 || shared.u_type == 2">
              <td colspan="5" class="text-right"><strong>Current Month Total Amount (RM):</strong>
                {{ etgcommission.total }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="etgcommission.length === 0">
            <tr>
              <td class="text-center" colspan="6">No records found</td>
            </tr>
          </tbody>
        </table>

      </mat-card>
    </div>

    <div class="col-md-12">&nbsp;</div>

  </div>

  <router-outlet></router-outlet>