/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin: 0;
    // background: #333;
    // color: #f8f8f8;
    background: #FFF;
    font-family: 'Roboto', sans-serif;
    color: #1d1d1d;
    height: 100%;
}

#container {
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;
    // height: 100vh;
    // width: 100vw;
    // background: #333;
    // color: #f8f8f8;

    #content {
        // padding: 30px 50px;
        padding-top: 8px;
        background: #f2f2f2;
        // background: #000000;
        // color: #f2f2f2;
        height: 100%;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            // height: 100%;

            li {
                background: #fff;
                border-radius: 8px;
                // padding: 20px;
                margin-bottom: 8px;

                a {
                    font-size: 1.5em;
                    text-decoration: none;
                    font-weight: bold;
                    color: #00A8FF;
                }

                ul {
                    margin-top: 20px;

                    li {
                        padding: 0;

                        a {
                            font-size: 1em;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}

// .mat-table {
    
//     background: #333;
//     color: #f8f8f8;
// }

// .mat-row, .mat-footer-row, .mat-header-row {
//     background: #333;
//     color: #f8f8f8;
//     display: flex;
//     border-width: 0;
//     border-bottom-width: 1px;
//     border-style: solid;
//     align-items: center;
//     box-sizing: border-box;
// }

// .mat-cell, .mat-header-cell {
//     // background: #333;
//     color: #f8f8f8;
// }

.mat-paginator, .mat-paginator-container {
    // background: #333;
    // color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 56px;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.full-width {
    width: 100%;
}

.lbl_main_header {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    vertical-align: middle;
}

.lbl_title {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    vertical-align: middle;
}

.lbl_title_s {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    vertical-align: middle;
}

.lbl_title_m {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    vertical-align: middle;
}

.lbl_title_l {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    vertical-align: middle;
}

.lbl_hint {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.2;
    vertical-align: middle;
    color: rgba(0,0,0,.54);
    margin-bottom: -1%;
}

.text_bold {
    font-weight: bolder;
}

.lbl_form {
    color: rgba(0,0,0,.54);
    transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
    // width: 133.33333%;
}

.list-action-button {
    font-size: 2rem;
    cursor: pointer;
}

// status
.active {
    vertical-align: middle;
    font-size: 2rem; 
    color: green;
    cursor: help;
}

.inactive {
    vertical-align: middle;
    font-size: 2rem; 
    color: red;
    cursor: help;
}

.noColumn {
    flex: 0 0 5%  !important;
    display:flex;
    justify-content:left;
}

.actionColumn {
    display:flex;
    justify-content:center;
    flex: 0 0 15% !important;
}

.statusColumn {
    flex: 0 0 10%  !important;
    display:flex;
    justify-content:center;
}

.centerColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

// loaders
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    // cursor:pointer;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}

.hover_bkgr_fricc > div {
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 0%;
    position: relative;
    padding: 15px 5%;
}

.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.show-div {
    display: block;
}

.hide-div {
    display: none;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}

ul#horizontal-list li {
	display: inline-flex;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #333;
    color: #f2f2f2;
}

.footer-view {
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 60px;
    background-color: #333;
    color: #f2f2f2;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            margin-bottom: -3%;    
            padding: 0;
        }
    }
}

.pointer {
    cursor: pointer;
}

.sidebar-icon {
    font-size: 1.5rem;
}

.maroon-font {
    color: maroon;
}

.red-font {
    color: red;
}

.green-font {
    color: green;
}

.darkgrey-font {
    color: #333;
}

.date_col {
    flex: 8% 0;
}

.body-bg-white {
    background: #FFF;
    height: 100%;
}

.body-bg-grey {
    background: #f2f2f2;
    height: 100%;
}

// .mat-table-sticky:first-child {
// border-right: 1px solid #e0e0e0;
// }

// .mat-table-sticky:last-child {
// border-left: 1px solid #e0e0e0;
// }

// td.mat-column-action {
// width: 300px;
// // padding-right: 8px;
// }

// th.mat-column-position, td.mat-column-position {
//   padding-left: 8px;
// }

.asi-1 {
    // animation-duration: 3s;
    animation-delay: 500ms;
    // animation-iteration-count: infinite;
}

.asi-2 {
    // animation-duration: 3s;
    animation-delay: 700ms;
    // animation-iteration-count: infinite;
}

.asi-3 {
    // animation-duration: 3s;
    animation-delay: 900ms;
    // animation-iteration-count: infinite;
}

.asi-4 {
    // animation-duration: 3s;
    animation-delay: 1100ms;
    // animation-iteration-count: infinite;
}

.asi-5 {
    // animation-duration: 3s;
    animation-delay: 1300ms;
    // animation-iteration-count: infinite;
}

.asi-6 {
    // animation-duration: 3s;
    animation-delay: 1500ms;
    // animation-iteration-count: infinite;
}