<div *ngIf="user">
<h1>{{ user.name }}</h1>

<ul>
  <li><strong>Username:</strong> {{ user.username }}</li>
  <li><strong>Email:</strong> {{ user.email }}</li>
  <li><strong>Phone:</strong> {{ user.phone }}</li>
</ul>